[2015-06-13 02:27] xenolf opened #1 "Add tests"
Currently there are none... add some!

[2015-06-13 02:27] xenolf opened #2 "Implement remaining challenges"
Currently only stubbed out.

- [x] TLS-SNI-01
- [x] DNS-01

[2015-07-07 00:09] jcjones opened #6 "Move to https://acme-staging.api.letsencrypt.org/acme/new-reg for test access"
Howdy, friendly lego devs!
Just wanted to let you know that the long-term location for a convenient Boulder testing site is https://acme-staging.api.letsencrypt.org/acme/new-reg , and that ACME has been updated: https://datatracker.ietf.org/doc/draft-barnes-acme/

(note - corrected URI to go live this week)

If you want to ping me in #letsencrypt on freenode, I'm jcj_moz.

Cheers, and keep up the

[2015-07-07 21:10] xenolf commented on #6
Hey there!

Thanks for bringing this to attention. Is this new URL supposed to replace the https://www.letsencrypt-demo.org/acme/new-reg URL?

[2015-07-07 21:10] #1 closed

[2015-07-07 21:31] jcjones commented on #6
That's correct, xenolf. And note I removed the version # from the URI - it'll be going live later this week.

[2015-08-06 03:44] jcjones commented on #6
Resolved in 41c2d8cc83a4d04a5d51c701c6724c60200b5286

[2015-08-06 03:44] #6 closed

[2015-08-14 16:56] MalteJ commented on #2
how would you like to implement the DNS solver? With [DNS Update](https://www.ietf.org/rfc/rfc2136.txt)?

[2015-10-17 01:20] xenolf commented on #2
Hey,

I'm truly sorry it took me so long to respond.
To this date the challenges are not really planned through implementation wise and I'm open for input on them.

For DNS I was leaning into the direction of just asking the user to provide the DNS records as we should make no assumptions of RFC2136 support on the provider which hosts DNS for the client.

[2015-10-17 01:21] xenolf opened #7 "Support certificate renewal"
Add the ability for renewal of issued certificates to the CLI as well as the library.

[2015-10-18 03:14] mholt opened #10 ""The server returned an unexpected status code 200""
After pulling the latest tonight, I get this:

[code]

Then the program exits.

Based on logs, it seems to happen just after everything is done and the web server (not the lego one, but the one I'm getting the certs for) is already started. I suspect, though I am not sure, the behavior comes from caa6e78289c7c57b334463b73f9a37d4da808b52. None of the other changes tonight seem like they would cause

[2015-10-18 15:28] #10 closed

[2015-10-18 22:42] #7 closed

[2015-10-21 05:36] mholt opened #11 "Revoking certificate with server private key"
I'm trying to revoke a certificate using the private key of the host/server. I load the certificate's PEM-encoded bytes from a file (and confirmed that that works), and when I do `client.RevokeCertificate(certBytes)`, I get this error:

[code]

The client is created *not* necessarily with the same email address as was used to obtain the certificate originally. How can I use the server's private ke

[2015-10-21 06:05] mholt commented on #11
Actually j/k. It's working now. Not sure what happened. Maybe some fairy dust landed on my Boulder instance :smile:

[2015-10-21 06:05] #11 closed

[2015-10-21 12:33] gedw99 opened #12 "question regarding usage"
I am a go developer and am running servers on google compute and AWS.

I saw the python client and how it kind of integrates with Apache. Nice for Apache users but useless for me.

Is there some docs yet regarding using this go based client ?
Can i participate in testing domains and wildcard domains ? I would like to try this out for our development environments now.

[2015-10-21 13:02] mholt commented on #12
You can try it out :) Let's Encrypt has a staging API you can hit or you can run your own Boulder instance.

As for docs, have you seen the readme?

[2015-10-21 13:15] gedw99 commented on #12
Hey @mholt

Your the Caddy guy :)

Readme looks ok. Let me give this a shot.
i am using go and appengine and Caddy. I have a simple code switch so i can run on both.
Do you think it should work on app engine and gcloud ?

[2015-10-21 13:44] xenolf commented on #12
It should (should as in I didn't try it out) work in both environments. :)

[2015-10-21 13:52] gedw99 commented on #12
Ok i am just learning hwo to use it:

I am BTW:
OSX
golang 1.5.1

SO when i do this:
./lego --email="123@gmail.com" --domains="www.xyz.de" run:

[code]

[2015-10-21 13:57] xenolf commented on #12
Well, you do not have to use the client. The client comes with a library as well so you could actually build LE directly into your go programs.

Other then that, you won't get a certificate from the staging CA for a domain which does not resolve to the ip address of the host you are running lego on.

[2015-10-21 14:00] mholt commented on #12
If you want to test the entire process in your dev environment you'll need to set up a local Boulder instance that can work locally; the staging API uses real DNS to resolve your hostname to the real machine (it just issues a non-trusted certificate).

[2015-10-21 14:02] gedw99 commented on #12
it works in the google cloud console BTW. Go same distance.

Regarding IP resolution. Yes thats makes sense.
Regarding embedding the lego softwar, it will not work on google cloud app engine i presume because its a read only file system. Instead the normal way is to  uploaded the SSL cert
https://cloud.google.com/appengine/docs/using-custom-domains-and-ssl?hl=en#adding_ssl_to_your_custom_domain

S

[2015-10-21 14:06] xenolf commented on #12
The library itself does not save anything. It it left to your application as to where you store that stuff.

[2015-10-21 14:08] gedw99 commented on #12
@mholt
Ok using Boulder makes sense. Tats great for have the whole thing in the one environment.
For now, i dont want to go that far. Thats more for later.
Right now i just want to test getting an existing junk web site using SSL.
This web site is on appengine.

When i run the exe, it saved stuff to the account dir.

[2015-10-21 14:13] mholt commented on #12
@gedw99 What xenolf meant is that the acme client library (the Go package you can import into your own programs) doesn't save anything. The command (the CLI tool in the main package) *does* save the cert and user information to disk for you.

[2015-10-21 14:21] gedw99 commented on #12
@mholt
OK - penny drops.
I see the JWS code now.
So the architecture is designed to be way way easier than the normal process.
Steps:
Fire up a web site
Go to some URL (like admin area)
Request the cert (via soem UI)
And it will under the hood do all the bits and pieces ?

[2015-10-21 14:34] gedw99 commented on #12
Ok i now see the code in the readme and its intent / usage paradigm. +1

So when i get to below, where to put this if on AppEngine.

[code]

[2015-10-21 18:26] kuba commented on #12
@gedw99, official client doesn't need Apache/nginx or any other web server. Just use the standalone authenticator - either select from the menu or run `letsencrypt -a standalone`. +it should work on Google App Engine. We are also working on exposing programmatic API, so you don't have to shell out to call the binary.

[2015-10-21 20:11] gedw99 commented on #12
@kuba
thanks. but the exe is called lego, not lets-encrypt.

Can i ask that a basic newbie, how to get running on App Engine or other be written ?
Sorry

[2015-10-21 20:14] mholt commented on #12
@gedw99, kuba is referring to the official letsencrypt client, not this one.

Before continuing: Are you trying to use the *LIBRARY* in your own Go program (this means your Go program imports `github.com/xenolf/acme`) **or** are you trying to use the *CLI TOOL* as a client? The CLI tool will have to be executed from the command line ("lego") and requires writing to the disk.

This CLI tool is some

[2015-10-21 20:23] gedw99 commented on #12
@mholt
thanks.

The objective is to get an appengine web site using SSL. How i get there up for debate.
Its golang based.

I tried the letsencrypt python CLI. I kind of hate python, and so i really want to use this golang based one.
Hence, why i am here bugging you guys :)

In my own library ?
Well i could link it into my golang web site code. But i need a bit of help I presume i setup a handler o

[2015-10-23 08:02] xenolf commented on #12
The readme does outline a full sample of the library usage. You can also have a look at how we integrated it into caddy [here](https://github.com/mholt/caddy/tree/letsencrypt/config/letsencrypt).

[2015-10-23 20:43] #12 closed

[2015-10-28 14:26] rgl opened #18 "Show server error messages"
It seems the server can return typed error responses alike:

[code]

It would be great if the client could return those error messages to stdout instead of just outputting `The server did not provide enough information to proceed.`. That particular error was returned because I tried to use `--domains localhost`.

[2015-10-28 14:40] mholt commented on #18
Yeah, this is something I noticed yesterday too. Will be working on that this week for sure.

[2015-10-28 18:56] rgl opened #19 "JWS requests should have the application/jose+json content-type"
The HTTP requests that contain a JWS should have the `application/jose+json` `Content-Type` as described in the [JSON Web Signature (JWS) RFC](https://tools.ietf.org/html/rfc7515#section-9.2.1).

[2015-10-28 21:04] rgl opened #20 "Generate a single (SAN) certificate when given multiple --domains arguments"
It would be really nice that multiple `--domains` arguments would generate a single certificate (SAN) like the [python client](https://github.com/letsencrypt/letsencrypt) instead of generating a single certificate for each `--domain` argument.

[2015-10-28 22:43] #19 closed

[2015-10-29 00:48] #18 closed

[2015-10-29 01:01] xenolf commented on #20
Hey, thanks for bringing this up :)
I definitely plan on adding SAN certificates.

[2015-11-09 16:13] jimmidyson opened #22 "Doesn't work if server can't bind to DNS IP"
I'm very possibly missing something, but I'm trying this running on a cloud server with a floating IP. I have set up DNS to resolve to this floating IP & then trying to do domain validation. This tries to bind to the   IP that the domain resolves to which ends up with

    Could not start HTTPS server for challenge -> listen tcp <IP>:5001: bind: cannot assign requested address

which is understand

[2015-11-09 17:11] mholt commented on #22
Because binding to `host:port` is less invasive than binding to `:port`.

This change was deliberate because we had users reporting errors when another service was already bound to `:port`, so binding to `host:port` was the logical way to fix it.

[2015-11-09 17:16] xenolf commented on #22
Hello and thanks for bringing this up!

I think the right answer to this problem is to add a fallback option which binds to :443 / optPort if the bind to domain:port fails.

I will fix this ASAP.

[2015-11-09 17:32] jimmidyson commented on #22
SGTM. Alternatively add another option for the bind IP/port?

[2015-11-09 17:44] xenolf commented on #22
I just commited a fix to a new branch [add-shttp-bind-fallback](https://github.com/xenolf/lego/tree/add-shttp-bind-fallback).
@jimmidyson could you test this branch if it works for you?

[2015-11-09 17:56] jimmidyson commented on #22
Tested - works for me... Thanks!

[2015-11-09 18:03] xenolf commented on #22
Great!
In that case fixed by 959cf00 :)

[2015-11-09 18:03] #22 closed

[2015-11-09 18:07] jimmidyson commented on #2
Would really like to see DNS challenge implemented. Trying to integrate this into Kubernetes secrets & that seems like the best fit to me (albeit with the initial manual required DNS setup, but that's not a big problem).

[2015-11-09 18:07] jimmidyson commented on #22
Now that is good service... thanks!

[2015-11-09 18:26] xenolf commented on #2
I'd like to have all of them implemented in the next 1-2 weeks to conform with the spec on or right after the GA date of let's encrypt.

[2015-11-10 17:11] tgulacsi opened #23 "Could not create client:decode directory: json: cannot unmarshal number into Go value of type acme.directory"
Could not create client:decode directory: json: cannot unmarshal number into Go value of type acme.directory

Caddy errored out with this, but lego does the same:

gthomas@tequila:/home/gthomas$ sudo chpst -u www-data:ssl-cert /home/gthomas/bin/lego --path /var/www/.caddy/letsencrypt --server https://acme-v01.api.letsencrypt.org/directory --email tgulacsi78@gmail.com run
2015/11/10 18:04:13 No key

[2015-11-10 17:13] xenolf commented on #23
You should not at /directory to the end of the CA url. Please use https://acme-v01.api.letsencrypt.org/

[2015-11-11 00:01] #23 closed

[2015-11-11 05:49] tgulacsi commented on #23
Thanks!

The "/directory" came from copy-pasting the given URL from the email came from Let's Encrypt:

"""
To use Let's Encrypt's official client to obtain your real certificates, you will need to provide the production API URL on the command line:

  https://acme-v01.api.letsencrypt.org/directory
When running the Python client (installation directions [1]), be sure to specify the --server argume

[2015-11-11 06:02] mholt commented on #23
Okay, @xenolf, I figured out why they tell people to use the URL with /directory. The spec says:

I do find it odd that the directory isn't just at `/`, but perhaps lego should comply anyway.

[2015-11-11 07:40] jimmidyson commented on #23
Perhaps only append `/directory` if it's not already present?

[2015-11-11 12:52] xenolf commented on #23
The library now accepts urls with and without /directory as of b958bd2

[2015-11-11 12:53] jimmidyson commented on #23
Nice!

[2015-11-11 15:24] mholt commented on #23
That'll work. Just note that some CAs may not use /directory as per their choosing. But I don't suppose there will be any CAs other than Le'ts Encrypt for a while.

[2015-11-11 16:34] jhalderm opened #24 "Implement HTTP-01 challenge type"
The existing "simpleHttp" and "dvsni" challenges are insecure, and Let's Encrypt will be disabling them in the near future.  In order to keep working, lego will need to implement the "http-01" or "tls-sni-01" challenges.

See this issue from the official Let's Encrypt client:
https://github.com/letsencrypt/letsencrypt/issues/914

[2015-11-12 01:58] xenolf commented on #24
Hello and thanks for reporting this.

Work has begun in the [add-http-01](https://github.com/xenolf/lego/tree/add-http-01) branch.

I will track progress using this issue.

[2015-11-12 23:17] #24 closed

[2015-11-14 16:30] xenolf commented on #20
LGTM :)

[2015-11-16 17:11] zakjan opened #27 "Webroot authenticator"
Do you plan to implement webroot authenticator? ACME challenge file can be written to a directory, while another webserver (eg. nginx) is configured to read from it.

Not only it allows to run the client LE application as non-root user, it is also possible to run multiple cert requests at once, because it doesn't block any incoming port.

[2015-11-16 17:23] xenolf commented on #27
Well yeah.
We had a pull request to add this (#16) but unfortunately it was closed by the author.

For now my focus is at implementing the remaining challenges to get full ACME coverage and SAN certificates.

[2015-11-16 18:10] zakjan commented on #27
OK. Maybe I'll try to implement it in my spare time.

I noticed you merged http-01, which is great timing because simple-http will be shut down this week. https://community.letsencrypt.org/t/turning-off-old-insecure-challenge-types/3825

[2015-11-16 19:51] xenolf commented on #27
That would be great :)

Yes this was intentional as [caddy](https://github.com/mholt/caddy) depends on this library.

[2015-11-16 22:52] xenolf commented on #2
DNS challenge blocked by letsencrypt/boulder/issues/720

[2015-11-18 03:07] mholt opened #31 "OCSP syntax error"
Usually when I call acme.GetOCSPForCert and pass in the PEM-encoded certificate bundle, I get this error:

[code]

This is on a 32-bit Windows VM. Here is the cert bundle - (from happy hacker fake CA):

[code]

Sometimes it works though. For example, I just re-ran the client for the same hostname (after deleting the cert file from last time) and had it issue a new certificate, then checking the OC

[2015-11-19 11:28] zakjan commented on #27
Closing in favor of #32

[2015-11-19 11:28] #27 closed

[2015-11-19 20:18] xenolf commented on #31
I was unable to reproduce this using your certificates.

[2015-11-19 20:22] mholt commented on #31
Welp, this bytes. I'll dig into it further on my Windows box. Thanks for taking a look.

[2015-11-19 20:22] #31 closed

[2015-11-20 15:26] sharpner opened #34 "Need assistance in private beta..."
Hi sorry if this is more of a stupid error by me, but I can't get lego to work on my server.

Running letsencryt-auto works and creates certificates:
```/opt/letsencrypt/letsencrypt-auto --agree-dev-preview --server https://acme-v01.api.letsencrypt.org/directory auth -d sub.mydomain.com--standalone```

Running lego:
[code]

gets me:
[code]

Can you help me out here? I even tried the ```add-tls-sni

[2015-11-20 15:29] xenolf commented on #34
Is there an active proxy listening on port 80 which forwards traffic to the opt port 10443 you told lego to bind to?

LE will try to access your server on port 80 for HTTP-01.

[2015-11-20 15:31] sharpner commented on #34
damn thank you. I hoped I would be able to use a different port than either 80/443. It sucks to disable the nginx to update the certificates.

But it works now, awesome =)

[2015-11-20 15:33] xenolf commented on #34
You don't have to disable nginx. That's what the optPort is for. You could just add a temporary proxy directive to the nginx config to pass all traffic on the path /.well-known/acme/ to port 10443. :)

[2015-11-20 15:34] sharpner commented on #34
let me try this. Thanks for the support! :-)

[2015-11-20 15:37] xenolf commented on #34
No problem. I know that this is kind of a convoluted way to work around nginx at the moment but as soon as we merge #32 and #16 we are able to put the token into the nginx webroot to let nginx serve it.

[2015-11-20 15:38] sharpner commented on #34
its also hard to find that workaround in the first place.

You probably have to read the whole spec get which folder to proxy.

[2015-11-20 15:39] xenolf commented on #34
I agree. I should probably improve the documentation on what optPort is for.

[2015-11-20 15:44] sharpner commented on #34
Thanks for the awesome project btw.

[2015-11-20 15:44] #34 closed

[2015-11-20 15:55] xenolf commented on #34
My pleasure :)

[2015-11-20 16:07] sharpner commented on #34
Just for the record, that's the nginx proxy i used:
[code]

Thanks again :D

[2015-11-20 19:09] mholt opened #36 "Suggestion about NewClient"
To make NewClient easier to use and more customizable, I propose the following usage:

[code]

Basically, change the last argument of NewClient to be a bitmask (maybe? depends on how challenge priorities is implemented) and allow the *Client to be customized after its construction.

[2015-11-21 16:10] yaslama commented on #36
Why not something like ?
[code]

[2015-11-21 19:01] mholt commented on #36
The only thing about calling `New...Challenge` once for a client is that a client may have multiple challenges to perform, thus needing to create new ones for each challenge -- I think (@xenolf would know better).

[2015-11-21 19:49] xenolf commented on #36
I think that the challenges should definitely be internal to the library and not passed in through NewClient. The "solvers" (or however we want to call them) may be passed in as the user should have the option to add custom ones to the flow.
If a user wants to customize a built-in "solver" he may construct the solver himself, otherwise the client will add them with default values to the internal s

[2015-11-21 20:34] mholt commented on #36
If you mean that challenges shouldn't be constructed & passed into NewClient, I agree. I still like the idea of the user being able to control which challenges are allowed, though. (Then again, maybe this can be one of the things that is set later, like the priority.)

:+1:

[2015-11-25 20:14] dpiddy commented on #36
I would like to see a way to use the acme package with both arbitrary challenges (ie a way to tweak [this](https://github.com/xenolf/lego/blob/24e8a554058212c29595bf7fb01dfce63e68147b/acme/client.go#L102)) as well as custom solvers for those arbitrary challenges or built-in ones.

For example, once the DNS challenge is working it would be nice to use something like [this](https://github.com/weppos

[2015-11-25 20:35] dpiddy commented on #36
Perhaps more generally: it would be neat if the acme package was a framework for interacting with the api and implementing challenges and related solvers. The lego CLI utility could wrap that up in ways that make sense for default use.

Imagine:

[code]

[2015-11-26 23:03] xenolf commented on #36
Hey @dpiddy thanks for your suggestions!

Initial support for your first point will land pretty soon when we merge #32. This gets merges as soon as we have found a good API for external solvers which will then get applied to the other challenges as well.

[2015-12-03 19:53] coolaj86 opened #37 "hook for dvsni challenge"
I have a situation where the server receiving the certificate has a proxy which serves many servers in front of it (https://github.com/letsencrypt/acme-spec/issues/222).

I need a way for the server behind the proxy to inform the proxy that it would like to respond to SNI requests matching `<challenge1>.<challenge2>.acme.invalid`.

My initial suggestion was that the format of the challenge should

[2015-12-03 19:55] coolaj86 commented on #37
It looks like this may be related? https://github.com/xenolf/lego/pull/32

[2015-12-03 20:11] xenolf commented on #37
Right, we want to make solvers and challenges modular. But we're not quite there yet :)

[2015-12-04 10:12] sharpner opened #39 "Listen IP/interface of lego unclear"
Hi there!

I upgraded to v0.1 and now I am getting this error:
[code]

I am using the following parameters:
[code]

Did something change? I tried using the existing keys and creating new ones, the error is still the same.

Thanks!

[2015-12-04 10:14] sharpner commented on #39
found it, you now need to use ```https://acme-v01.api.letsencrypt.org/directory```

[2015-12-04 10:39] sharpner commented on #39
So somethings fishy with version v0.1.0.
I couldn't get it to work no matter what:

[code]

So I downgraded lego to #6a803c626577b215325830567f8131b985851cf6 and ran:
[code]

with success. Is it my mistake?

[2015-12-04 10:42] sharpner commented on #39
okay I found the issue, lego now only listens to the public interface/ip of the given domain(/s).

[2015-12-04 14:19] xenolf commented on #39
Lego does have a fallback in case it can not bind to the public resolved IP [here](https://github.com/xenolf/lego/blob/master/acme/http_challenge.go#L103-L110).
In that case it will bind to 0.0.0.0 - What I gather from the information you provided is that lego binds to the public IP but the challenge arrives on a different one?

[2015-12-04 14:36] xenolf commented on #39
Actually I see the problem now.
In your first example lego tries to solve the TLS-SNI challenge. You then roll back
to a commit which does not have that challenge implemented.
I had a look at the challenge and it seems like I forgot to add the fallback for that challenge :)

[2015-12-04 14:42] sharpner commented on #39
I am using a load balancer that proxies the acme-challenge via reverse proxy to a different machine.
So therefore I would love to configure the listen ip as suggested in #40

[2015-12-04 14:45] xenolf commented on #39
Are you doing SSL termination at your load balancer?

[2015-12-05 12:51] sharpner commented on #39
yep! Did not know about the fallback though.

[2015-12-05 16:40] mholt commented on #39
Hmm, terminating SSL at the load balancer could be a problem because the TLS-SNI-01 challenge expects the TLS connection to be made with the machine that is completing the challenge, not a middle box.

[2015-12-05 16:56] xenolf commented on #39
Yes, SSL termination will definitely make the TLS-SNI challenge fail.
I need to think of an option to allow users to exclude challenges which are unsolvable in their environment using a command line switch. This would be the proper fix for this issue IMO.

[2015-12-07 14:11] alcaeus opened #44 "Exit code is always 0"
When certificate generation fails, the client still exits with code 0:
[code]

This makes checking for errors in the certificate generation process unnecessarily difficult.

[2015-12-07 14:55] xenolf commented on #44
You are right, this is not how it should be. Thank you for bringing this to our attention.

[2015-12-07 19:54] xenolf commented on #44
Resolved in 1b07617

[2015-12-07 19:54] #44 closed

[2015-12-08 04:08] shurcooL opened #46 "Installation from source instructions?"
I think it'd be very helpful to have a section that covers how to install `lego` from source. In the README, I could only see that binary releases are available. If I want to build from source, is that supported?

I _assume_ it would be just `go get -u github.com/xenolf/lego`, but without a section like https://github.com/shurcooL/binstale#installation, I find it hard to be confident.

Leaving thi

[2015-12-08 04:24] mholt commented on #46
It probably depends what you mean by "building from source is supported". If you mean building tip (latest commit on master), then it probably depends what kind of environment you're running it in and the risks you're willing to take. While tip may have more immediate bug fixes, it might not be stable at that point. If you mean building from any untagged commit of the source, then that's probably

[2015-12-08 05:58] shurcooL commented on #46
I see. I have no problem doing that, but I didn't know this was the case because the README didn't communicate it to me. I thought it was between this, or you just forgot to include the `go get -u` instructions. This answer answers that, thanks.

It's easy if you know 2 things:

- The canonical import path matches the URL you're looking at; there's no vanity import path being used.
    - For examp

[2015-12-08 06:47] shurcooL opened #47 "Which ports does lego actually need/use?"
This is another question/clarification.

From reading the entire README, my understanding is that `lego` only needs to use port 443 by default, unless you use a custom port, then you need to forward 443 to that.

From https://www.guyrutenberg.com/2015/11/07/getting-started-with-lets-encrypt-tutorial/:

Which seems to confirm that idea.

However, commit https://github.com/xenolf/lego/commit/c4add3c

[2015-12-08 06:53] shurcooL commented on #47
Well, from trying it, it looks like it *does* use/need port 80 in addition to 443:

[code]

I find that surprising because of the following parts of the README:

Mentions only 443, not 80. It's not even --https-port, just --port, which makes you think there's only ever going to be one.

Same.

Once again, only 443 is mentioned, and it's made to sound like the _only_ port.

[2015-12-08 08:44] sharpner commented on #39
yes that would help. A command line parameter ```--challenges``` could solve this issue right?

I would submit a PR but I am currently unsure on how the lego api changes, since there are so many refactoring PRs open :D

[2015-12-08 13:36] xenolf commented on #47
The README has not been updated to reflect the latest changes. Thanks for reminding me to do that.
Lego uses the ports 80 and 443 depending on which challenge is being solved. HTTP-01 needs port 80 and TLS-SNI-01 needs port 443 as specified in the ACME spec.

The --port option was included to allow people to run lego without root and/or when there already is a webserver running which is occupying

[2015-12-08 19:03] shurcooL commented on #47
Thanks!

Oh, really. So if I set `--port=5000`, does that mean both both HTTP-01 and TLS-SNI-01 will get answered on port 5000? Do you still need to forward 433 to 5000, or is that part outdated?

[2015-12-08 19:19] xenolf commented on #47
Lego gets a list of challenges from the server. We choose the first challenge in this list which we can solve. Depending on which challenge that is (the list is always randomized - at the moment 50/50 for HTTP-01 and TLS-SNI-01) we then start a server on either port 80 or 443 if no `--port` option was spcified.
If you pass `--port=5000` we will use that port instead and depending on the challenge

[2015-12-08 19:52] shurcooL commented on #47
That's very clear and I understand now, thanks.

[2015-12-09 21:39] victorhaggqvist opened #48 "NAT port support?"
This may or may not be something that one want to support, but I thought I could ask.

By NAT port support I mean having the ability to run with another parameter defining the public port which the Let's Encrypt server should query against. I imagine something like this.

    ./lego [other params...] --port=80 --natport=8888

Where `lego` would be listening on 80 in the local machine but tell the

[2015-12-09 21:44] xenolf commented on #48
That's not possible at the moment I'm afraid.
The ACME protocol defines the port to query for the server without an option to indicate a different one from the client.
If this part of the spec changes to allow for client side port indication then I will definitely support it.

[2015-12-09 21:44] #48 closed

[2015-12-09 22:56] victorhaggqvist commented on #48
OK, too bad.

But given this I'm kind of curious how it works.. what does the `--port` param do if not specifying the port?

[2015-12-09 22:58] mholt commented on #48
The ACME server still connects on the port specified by the protocol, but you can proxy it to a custom port for lego to listen on.

[2015-12-09 23:06] xenolf commented on #48
I think [this comment](https://github.com/xenolf/lego/issues/47#issuecomment-162987299) explains it quite well. I need to add that to the README :)

[2015-12-10 17:50] coolaj86 opened #49 "Ambiguous error messages"
Caddy gives back a single failure message:

[code]

while the python client gives back very detailed (and varied) error messages:

[code]

Asking over at https://github.com/letsencrypt/letsencrypt/issues/1855 as to how they pass error messages.

[2015-12-10 18:05] xenolf commented on #49
I'm looking into it.

[2015-12-10 19:00] xenolf commented on #49
Could you try [this](https://github.com/xenolf/lego/tree/better-challenge-errors) branch?

[2015-12-12 18:25] jeffallen opened #51 "error 400 from letsencrypt servers"
lego --email "jra@nella.org" -d nella.org -d blog.nella.org run
2015/12/13 00:17:21 [INFO] acme: Registering account for jra@nella.org
2015/12/13 00:17:21 [DEBUG] {"resource":"new-reg","contact":["mailto:jra@nella.org"]}
2015/12/13 00:17:21 Could not complete registration
	acme: Error 400 - urn:acme:error:malformed - Unable to read/verify body :: Parse error reading JWS

The "DEBUG" line is someth

[2015-12-12 19:37] xenolf commented on #51
Greetings!

Could you try if it helps to drop the quotes around your email address?
We had some trouble with quotes in the past.

[2015-12-12 19:44] #49 closed

[2015-12-13 05:23] jeffallen commented on #51
Quotes: No difference. (The " is eaten up by the shell anyway, lego never sees it.)

The problem turns out to be compiling from Go tip. If I use go1.5.1 it works, if I use go built from tip it fails. There's something about the crypto libs that changed to make this fail. Need to look into it more.

For now assume this is a Go bug (or my build environment) and not lego.

[2015-12-13 07:06] mholt commented on #51
Hmm, that's slightly disconcerting.

[2015-12-13 09:14] jeffallen commented on #51
Was my mutant mix of go1.5 and go tip compiled libraries. I did rm -rf $GOPATH/pkg/darwin_amd64 and rebuilt and the problem went away. I've seen this before, but rarely enough that I always forget to check it until there's no other possibility. :)

[2015-12-13 12:28] janeczku opened #52 "Support reusing private key for certificate renewals"
Currently new private keys are generated for every certificate request - even for renewals.
This is a problem for websites using [Public Key Pinning (HPKP)](https://developer.mozilla.org/en/docs/Web/Security/Public_Key_Pinning).

There should be `--reuse-key` flag for `renew` action that will use the private key of the current certificate to generate the CSR.

[2015-12-13 16:32] mholt commented on #51
Ahhhh, that pkg/ cache will get ya every time. Glad you fixed it, truly! :smile:

[2015-12-13 17:43] jeffallen commented on #51
Nope, my testing was flawed, it is most definitely a problem introduce by Go tip. Rewinding Go to Aug 20 (commit 34695c474) makes it work.

Still digging.

[2015-12-15 05:51] jeffallen commented on #51
The problem starts after a4fb8c13db3f1501f8195306de571b64ed1aeb73 (nov 1) and before f000523018e80471f51e29cae117831157d8dfb8 (dec 1). Bisecting November now...

[2015-12-15 07:51] alcaeus opened #54 "Certificate renewal drops Subject Alternative Name extension"
Previously created a certificate:
```lego --domains example.com --domains www.example.com --email=dev@example.com --path /etc/ssl/letsencrypt run```

Then, tried to renew the certificate:
[code]

Result is a certificate without the correct Subject Alternate Names:
[code]

[2015-12-15 14:53] jeffallen commented on #51
The problem is that letsencrypt.org's servers are doing something wrong with HTTP/2:

./lego -m "test11@nella.org" -s "https://acme-staging.api.letsencrypt.org/directory" -d nella.org -d blog.nella.org run

has the problem

GODEBUG=h2client=0 ./lego -m "test11@nella.org" -s "https://acme-staging.api.letsencrypt.org/directory" -d nella.org -d blog.nella.org run

does not.

Working with them to inve

[2015-12-15 14:53] #51 closed

[2015-12-15 15:06] xenolf commented on #51
Thank you so much for going through all this pain. This surely saved us and possibly even boulder quite the headache :)

[2015-12-15 20:32] xenolf commented on #54
Could you try with [this branch](https://github.com/xenolf/lego/tree/fix-san-renewal)?
You only need to pass the CommonName domain to lego for renwals as it will now read the remaining domains from the DNSNames property of the certificate.

[2015-12-16 06:29] alcaeus commented on #54
I'll take a look later today. Without testing, I do think there is going to be a minor issue with this line: https://github.com/xenolf/lego/blob/fix-san-renewal/acme/client.go#L382
The call to ```ObtainSANCertificates``` should be outside the loop filling the domains array.

[2015-12-16 10:24] xenolf commented on #54
Right... moved it out of there

[2015-12-18 02:16] takeyourhatoff opened #56 "DoS in GetOCSPForCert"
[The following line](https://github.com/xenolf/lego/blob/102a9f756bdc05112e8a890b0c75fcc42e99d531/acme/crypto.go#L70)

[code]

allows an an attacker in a network MiTM position to exhaust the memory of any application using lego and cause a runtime panic by holding the previously opened TCP connection open and forging garbage data. The call the ioutil.ReadAll ensures that the application will consu

[2015-12-18 08:43] alcaeus commented on #54
Tested it today, works like a charm! :+1:

[2015-12-18 17:09] #54 closed

[2015-12-18 21:33] #56 closed

[2015-12-18 21:39] #46 closed

[2015-12-18 21:39] xenolf commented on #47
Fixed in 6314bea

[2015-12-18 21:39] #47 closed

[2015-12-19 12:24] takeyourhatoff commented on #56
There are a few more places throughout the codebase that have the same issue. Remember that ioutil.ReadAll is not safe to call when you do not know the length of the io.Reader.

https://github.com/xenolf/lego/search?utf8=%E2%9C%93&q=ioutil.ReadAll

[2015-12-19 20:17] xenolf commented on #56
Yeah, thanks for the heads up :)
I want to replace all of them with a limited reader of 1MB. I think 1MB will suffice for most things.

[2015-12-19 20:19] takeyourhatoff commented on #56
I took a quick look at the spec to see if I could fine a amount that was "correct", but didn't spot anything at first glance. I'll take another look when I get the time and will send you a PR if I find anything concrete, but 1MB seems sensible.

[2015-12-21 15:36] colinn opened #59 "renew --days logic backwards"
The [logic](https://github.com/xenolf/lego/blob/master/cli_handlers.go#L200) of the --days parameter seems reversed to me:

     if int(expTime.Sub(time.Now()).Hours() / 24.0) <= c.Int("days") {
			return
     }

This appears to renew the certificate only if it is NOT about to expire.

Is this the behaviour intended, or a typo?

[2015-12-21 20:12] xenolf commented on #59
You are right, the comparison was wrong.
Fixed in 0c8bd2962e9f5f8958b7a9155af3cea1b6907bf4

[2015-12-21 20:12] #59 closed

[2015-12-22 00:37] glkz opened #60 "Manual validation feature for http-01 and tls-sni-01 challenges"
When we cannot run an ACME client on the target server a "manual" mode for the ```http-01``` and  ```tls-sni-01``` challenges would be helpful.

Adding ```--manual``` flag to ```run``` command can be a solution imho.

Btw, Let's Encrypt client has a [plugin](https://letsencrypt.readthedocs.org/en/latest/using.html#manual) for this.

[2015-12-23 22:40] xenolf commented on #60
I had a quick look at what the "manual" plugin does for the official client.
Am I right with the assumption that lego would need to output curl commands for example which a user could use to run them on a distant machine?

[2015-12-23 22:41] xenolf commented on #52
Just to get an update in here.
I'm working on this :)

[2015-12-24 05:35] spance opened #61 "Support ECC Certificate"
Hello,

Do you have plan to implement ECC account key and ECC certificate ?

[2015-12-24 07:21] mholt commented on #61
Yes, but Let's Encrypt doesn't support ECC yet: https://community.letsencrypt.org/t/elliptic-curve-cryptography-ecc-support/34?u=mholt

[2015-12-24 09:24] spance commented on #61
Thank you.
Wish the Lets Encrypt could support it sooner.

[2015-12-24 12:19] xenolf commented on #61
We're trying to track let's encrypt as closely as possible. So as soon as LE has ECC certs we'll support them :)

[2015-12-24 12:19] #61 closed

[2015-12-24 16:21] glkz commented on #60
Curl commands are not necessary. I think just printing the challenge with some instructions and waiting user's action to continue would be sufficient.

For example, something like this for http-01:
[code]

[2015-12-24 16:28] venyii opened #63 "CLI displays the wrong version"
Calling `./lego` shows you some information, including the installed version. Currently it displays the [wrong version](https://github.com/xenolf/lego/blob/master/cli.go#L27) (`master` still shows 0.1.0 while 0.1.1 is released)

Not a huge deal, I was just a little confused at first :)

[2015-12-24 17:07] mholt commented on #63
I've been considering doing this for Caddy, I bet lego could benefit from this technique too: http://stackoverflow.com/a/11355611/1048862

This way the version is set in the code automatically at build time.

[2015-12-25 13:53] xenolf commented on #63
My bad! Totally forgot to increase the version for the latest release :)
Will get fixed with the next release.

[2015-12-25 23:45] shurcooL commented on #63
But that makes the binary no longer `go get`able, doesn't it?

[2015-12-26 08:43] mholt commented on #63
Nah. A `go get` is unlikely to be at that exact version since it pulls the latest from master, and if you really want the version you can just run the build script or type it in manually. (I think.)

[2015-12-26 20:39] shurcooL commented on #63
Makes sense.

[2015-12-27 02:58] mattr-google commented on #39
I have this issue (ssl termination), would you accept a pull request adding a --challenges flag?  Right now this process either works for me or not depending on the order the challenges are evaluated.

[2015-12-27 07:29] mholt commented on #39
Changes are already in the works to allow you to specify which challenges can be used.

[2015-12-27 20:42] glkz commented on #36
What about something like this?
[code]
This kind of constructor will allow us to expand client functionality without making backwards-incompatible changes.

[2015-12-27 22:28] janeczku commented on #52
@xenolf What a great :christmas_tree::gift: !

[2015-12-28 04:36] xenolf commented on #39
The "exclusion" of certain challenges is implemented in the [refactor-client](https://github.com/xenolf/lego/tree/refactor-client) branch. The new API of the lib is not 100% final tho :)

Please let me know if you have any questions / additions.

[2015-12-28 08:46] mjrosencrantz commented on #39
I have another issue.  I am forwarding to lego through a proxy, so I want lego to listen on localhost:9000 and then a proxy will forward traffic there.  Unfortunately what actually happens is that it listens on "domain:9000" which results in the real IP address, not localhost.  This causes the challenge validation to fail, but the listen succeeds so the fallback case where you listen on only port

[2015-12-28 08:51] flibustenet commented on #39
+1 i thought it's the subject of this issue.
Why not listen on all interfaces ?

[2015-12-28 19:42] mholt opened #64 "Failover by trying other challenges"
It would be good - perhaps optionally? - if failure to verify a domain name could try again using a different challenge (whichever challenges are not excluded by the user) to maximize the chances of getting a certificate.

I know we've talked about this before and is on the roadmap already, but just documenting this here so we don't forget.

[2015-12-28 19:45] mholt commented on #39
@flibustenet (I assume by "interfaces" you mean all hosts for a port.) Because we (more accurately, I) received complaints when a user had other services already listening on all interfaces. So I changed it to bind to just the domain name.

[2015-12-28 20:01] flibustenet commented on #39
Yes i spoke about all hosts. It will be fine to have a flag to choose the host. Like said mjrosencrantz, the problem is that it silently fail and make it difficult to know why it doesn't work on some configuration.

[2015-12-28 23:40] mholt opened #65 "dns-01 support for DigitalOcean DNS"
To piggyback off the excellent PR #38, it might be nice to see DigitalOcean support for the dns-01 challenge as well... I'll eventually do it but somebody else might beat me to it.

[2015-12-29 00:02] fenderle commented on #39
+1 for being able to specify the bind ip for listen. in loadbalancer setups it is just not feasible to use the public domain name for that.

[2015-12-29 13:36] xenolf commented on #39
My take is to change the default to be `0.0.0.0` and to add a flag `--interface` so the user is able to restrict it himself.
Thoughts?

[2015-12-29 18:18] flibustenet commented on #39
@xenolf +1 with default to 0.0.0.0 it will help the first try success.

[2015-12-29 18:54] mholt commented on #39
Unless you have another program already bound to 0.0.0.0 on that port - then it will still have to try the other way.

[2015-12-29 19:38] fenderle commented on #39
I modified the refactoring branch to accept ip:port for the httpport flag. i find this to be a good solution since the user can choose to just specify the port (eg 80) or also specifiy the ip (eg 127.0.0.1:8080). however binding ipv4 and ipv6 could lead to problems with this scheme.

On 29 Dec 2015 14:36 +0100, xenolf<notifications@github.com>, wrote:

[2016-01-08 07:24] brandur commented on #36
I ran into this one today, so I just wanted to give the thread a gentle bump :)

And some other food for thought: a lot of the current interface proposals revolve around a lot of flexibility for configuring chains of solvers which might be useful for very robust fallback strategies. I suspect though that in practice a lot of users (like myself) really just want to configure _one_ solver and just h

[2016-01-08 07:30] xenolf commented on #39
This landed today in the refactor-client branch.
The switches for HTTP and TLS now support host:port addresses. This also works for IPv6 with [ip]:port or any other scheme the [SplitHostPort](https://golang.org/pkg/net/#SplitHostPort) function supports.

[2016-01-08 07:30] xenolf commented on #39
Also lego will now default to listen on any interface :)

[2016-01-08 07:52] sharpner commented on #39
yay :-)

[2016-01-08 08:34] flibustenet commented on #39
Thanks !
You have an idea when you will merge this branch to master ?

[2016-01-08 09:18] xenolf commented on #52
This has just landed in commit db1a519684cfaef862c4aa0345b341c9dae49e45 in the refactor-client branch.

[2016-01-09 01:19] xenolf commented on #39
The change landed in master.

[2016-01-09 01:19] #39 closed

[2016-01-09 01:19] xenolf commented on #52
The change is now in master.

[2016-01-09 01:19] #52 closed

[2016-01-09 01:20] xenolf commented on #63
The version was updated to 0.2.0. Release versions will display the version along with the commit from now on.

[2016-01-09 01:20] #63 closed

[2016-01-11 17:25] fenderle commented on #60
+1

[2016-01-11 18:01] fenderle opened #72 "Provide autorenew command"
I don't know if this is feasible or not as I have not too much experience with letsencrypt.

Would it be possible to have some kind of 'autorenew' command which renews all certificates it finds in the lego directory which require renewal within a given period of days (preferable configurable)?

So one has just to schedule a daily cronjob which calls autorenew. Failures should then be outputted to

[2016-01-11 18:12] mholt commented on #72
You can do this already. :)

[code]

This will renew the certificate if it expires in 30 days or less. For more info: `lego renew --help`

[2016-01-11 18:20] fenderle commented on #72
Great - this should solve that :+1:

[2016-01-11 18:20] #72 closed

[2016-01-11 19:35] sharpner opened #74 "Multiple domains no longer work"
Hi there!

I updated to 0.2 today, and my bundled certificate can no longer be aquired.

[code]

it seems to try to start one server for every domain parameter.
Earlier it created one bundled certificate with only one webserver.

[2016-01-11 21:05] xenolf commented on #74
Could you try if 33216d7563804e7333d6e484328dfa05ff1e7d3b works for you?

[2016-01-11 21:14] sharpner commented on #74
looks better! I am just rate limited now, so I can't 100% confirm.

But I do not get the "bind: address already in use" anymore :-)

[2016-01-11 21:19] #74 closed

[2016-01-15 04:13] jehiah opened #76 "http-01: refactor provider for presenting token"
This implements the last suggestion from #32 by @janeczku to separate solving the `http-01` challenge, from making the `keyAuth` available at the appropriate path.

This change creates a new interface

``
type HTTPChallengeProvider interface {
	PresentToken(domain, path, keyAuth string) error
	CleanUp(domain, path string)
}
[code]

[2016-01-15 20:45] xenolf commented on #36
Thanks everybody for your suggestions.
I want to apologize it took me so long to get to this point but now is the time ;)

The changes I have in mind are along the following:

- Have NewClient be the "default" constructor. It will set up all solvers with default configurations.
- Add a new function like `acme.EmptyClient()` (not sure about the name yet) which returns a client instance without any

[2016-01-15 21:02] captncraig commented on #36
I have an app that intends to use dns challenge to issue a variety of certs. Right now I have a `type LookupProvider map[string]acme.DNSProvider` that I have implemented the DNSProvider interface on to lookup on multiple domains. That could easily be made part of the library, but it may get tricky with things like matching a domain from the list when you have a deeply nested subdomain or things li

[2016-01-15 23:23] brandur commented on #36
Sounds like the right direction!

One thing to possibly consider: a "default" client is a bit tricky here because currently all solvers require some sort of configuration. The most obvious example is that `dns-01` is always going to need to be tied to some kind of DNS host, but even for `http-01` you're still going to need to configure a port to listen on. I believe you're proposing to solve this

[2016-01-15 23:38] mholt commented on #36
The thing about http-01 and tls-sni-01 challenges is that their default configurations can work out-of-the-box by using ports 80 and 443, respectively. In contrast, the dns-01 challenge doesn't have a "default" set of credentials or anything that we can just kind of assume unless told otherwise.

As much as I like being explicit, configuring those for those challenges' default values seems a bit r

[2016-01-16 00:38] janeczku commented on #36
Maybe something along this line:

Creating a new client
[code]

Each solver has a map of all its providers and implements a `GetProvider` method for creating the chosen provider:

[code]

Each provider has a function that returns a new instance of that provider using the `ProvidersOpts`:

[code]

[2016-01-18 01:45] pschlump opened #77 "Invalid options produce weird error messages"
Example:
[code]

Outputs

[code]

The real problem is that --http should be --http=":80" but the error is ununsual.

If you want me to fix this I can build a "pull" request.

[2016-01-18 21:12] xenolf commented on #77
This is quite weird, I agree.
I guess this comes from the fact that the `--domains` switch is one of the two switches we validate for being there.
I'd thankfully accept a PR for that. It might take some time for me to get to it.

[2016-01-19 02:18] pschlump commented on #77
Will do

On Mon, Jan 18, 2016 at 2:12 PM, xenolf <notifications@github.com> wrote:

--
Philip Schlump

[2016-01-20 22:34] jimmycuadra commented on #2
DNS should be unblocked now. letsencrypt/boulder#720 is closed and LE tweeted that DNS is available in production now: https://twitter.com/letsencrypt/status/689919523164721152

[2016-01-21 18:20] dpiddy commented on #2
Beware https://github.com/letsencrypt/boulder/issues/1391

[2016-01-22 14:27] denquixote opened #79 "ACME challenge route53 does not build on 32bit"
den@abdim:lego$ git log -1
    commit 5992793edd44b2adbf095c1bc70245bb2a440b2c
    Author: xenolf <xenolf@users.noreply.github.com>
    Date:   Fri Jan 22 02:25:27 2016 +0100

        Refactor DNS precheck

    den@abdim:lego$ go version
    go version go1.5.3 linux/386

    den@abdim:lego$ go build
    # github.com/xenolf/lego/acme
    acme/dns_challenge_route53.go:66: constant 922337203685477580

[2016-01-22 17:19] #79 closed

[2016-01-25 03:41] jehiah commented on #36
FYI: based on the refactoring in #76, you can now specify a custom provider like this

[code]

[2016-01-25 05:10] mholt commented on #36
Yeah, I think between that refactoring and the `ExcludeChallenges` and `Set...Address` functions, this issue is now resolved. Thanks for all the feedback and contributions!

[2016-01-25 05:10] #36 closed

[2016-01-25 05:12] mholt commented on #37
I believe this is now possible with your own solver or provider. (#76) If I'm right @xenolf then please feel free to close issue :smile:

[2016-01-25 19:53] xenolf commented on #2
DNS-01 is now usable on the library level. However testing indicated that the providers do run into the issue mentioned by @dpiddy. I will add CLI support and a proper release when that issue is fixed on staging and full testing of the functionality was possible.

[2016-01-27 01:04] #65 closed

[2016-01-27 19:28] drpebcak commented on #2
@xenolf what is the status of CLI support for dns-01? Looks like the upstream issue was closed, and a fix was merged.

[2016-01-27 23:33] xenolf commented on #2
@drpebcak Yes, the staging environment was updated on the 26th with the patch and we ran some tests yesterday. I hope I can get to it tomorrow :)

[2016-01-28 00:13] sondr3 commented on #2
Awesome, thanks for a great library! :)

[2016-01-28 03:56] drpebcak commented on #2
@xenolf awesome, thanks a lot!

[2016-01-28 12:31] uwe commented on #60
+1

[2016-01-29 10:31] sharpner opened #87 "Renew with bundled san certificates drops subject alternate names"
hi there, just tried to renew my bundled certificate, but it always drops my SAN.

Tested with one --domains parameter that contained only the main certificate domain and also one test with all --domains parameter.

Tested versions: master and 0.2

Command to check:
```openssl x509 -noout -text -in /etc/ssl/letsencrypt/certificate```

[2016-01-29 10:34] sharpner commented on #87
Lego command:
```./lego --exclude "tls-sni-01" --domains=blub.example.com -path=/etc/ssl/letsencrypt/ --email=my@blub.example.com --http 0.0.0.0:9999 renew```

Output:
[code]

[2016-01-29 13:11] #87 closed

[2016-01-29 13:22] xenolf commented on #87
Please let me know if this commit does not solve your problem :)

[2016-01-29 13:29] sharpner commented on #87
will do. thx

[2016-01-30 01:08] PunKeel commented on #2
Awesome <3 (should update readme ;D)

[2016-01-30 01:44] xenolf commented on #2
CLI support for DNS-01 is now available.

[2016-01-30 01:51] xenolf commented on #2
And please keep in mind that the DNS feature along with all providers and the CLI integration is new and I'm pretty sure there are some issues which need to be ironed out :)

[2016-01-30 05:11] jimmycuadra commented on #2
Just tried the DNS solver with Route 53 and made it this far:

[code]

I think the DNS TXT record needs to have literal double quotes around it as part of the value—that may be the issue.

Also, it should be added to the CLI help message that you also need to supply the environment variable AWS_REGION or you will get an error. It was also unclear that I needed to specifically exclude the other sol

[2016-01-30 05:12] jimmycuadra commented on #2
It might also be useful to document which AWS calls are used for people that want to create an IAM policy for lego. Here is what worked for me:

[code]

[2016-01-30 16:25] ghost opened #88 "IPv6-only support"
Pending [Let's Encrypts's IPv6 support](https://github.com/letsencrypt/boulder/milestones/IPv6%20Support) (IPv6-only hosts), I guess bootstrapping off a [magic IPv4 DNS forwarder](https://github.com/xenolf/lego/blob/d70e2869d257e5301ec9940ad8e95ea8afaad2c5/acme/dns_challenge.go#L76) is going to be a problem...

    /*  .../lego/acme/dns_challenge.go */
    func checkDNS(domain, fqdn string) bool {

[2016-01-30 18:46] xenolf commented on #88
Yes, I agree that this may be a problem. My initial thought was to get the standard DNS resolver for the system and use that, but it didn't work out.

Making it configurable may be the best option.

[2016-01-30 18:48] denquixote commented on #88
Well, it can be that easy! I did not test it with an actual staging / live challenge, though.

[2016-01-30 22:52] xenolf commented on #88
I will leave this open to track the "fascist firewall" issue :P

[2016-01-30 23:12] xenolf commented on #2
@jimmycuadra could you try again using the commit 6e423e6c7ac3668725bc0aadf54ebfa24f8064a1 ?
If not, could you open a new issue to track this?

I also added the AWS_REGION env variable to the README.

[2016-02-01 18:27] happymcplaksin opened #92 "DNS challenge error when FQDN is a CNAME"
Thanks for lego, it's awesome!

When I use the DNS challenge to request a cert for a FQDN that's a CNAME, I get the following. Assume iamacname.example.com is a CNAME for www.example.com

[code]

[2016-02-01 19:06] xenolf commented on #92
Hey and thanks for your report!

Could you give me some background on your DNS setup?
The issue you are seeing is because a SOA query against `google-public-dns-a.google.com` returns a CNAME response for your FQDN instead of a SOA response (which imo is rather odd).

[2016-02-01 19:41] happymcplaksin commented on #92
Hmm, maybe it's because I "cheated"? That is, our DNS looks like this:

We have a zone example.com and www.example.com is an A record inside that zone. Then we have iamacname.example.com as a CNAME for www.example.com and we're trying get a cert for iamacname.example.com.

Let's Encrypt wants the TXT record to be _acme-challenge.iamacname.example.com. Instead of creating a new zone _acme-challenge

[2016-02-01 20:08] happymcplaksin commented on #92
Oh and I just noticed @mholt's cname-fix branch. With that I get the same "panic: interface conversion: dns.RR is *dns.CNAME, not *dns.SOA" error on line 82.

[2016-02-01 20:10] mholt commented on #92
Huh? That's impossible; that type assertion doesn't exist on line 82 in the branch.

[2016-02-01 20:14] happymcplaksin commented on #92
Ahem. It's my first time building Go from a repo so I must have made a mistake :) I'll try harder.

[2016-02-01 20:18] mholt commented on #92
Ah, didn't know that. First make absolutely sure you're on the branch, then try clearing your $GOPATH/pkg folder and try again.

[2016-02-01 20:29] happymcplaksin commented on #92
I continue to get an error on line 82. Tell me what to do step-by-step to make sure I'm really using the code in the branch? I know Git well enough to be certain I'm on the branch. But no matter how I 'go get' and 'go build" I still get the line 82 error.

Apologies for not being more of a GOer :)

[2016-02-01 21:29] mholt commented on #92
No problem. You've already run `go get` so all you have to do is `cd` to $GOPATH/src/github.com/xenolf/lego and checkout the branch. Then `go build` will produce a binary you can run, `./lego`.

[2016-02-01 23:28] jimmycuadra opened #94 "DNS challenge with Route 53 fails with "InvalidTXTRDATA encountered""
Continued from my comments in #2:

[code]

This is with lego built from source at commit 031c5b5 (HEAD as of right now).

[2016-02-02 01:16] happymcplaksin commented on #92
Oh, hmm. Then I think I did it right the first time and really do get the same error on line 82. Here's what I did just now to reproduce:

[code]

Output 1: https://gist.github.com/happymcplaksin/7d2b0fdd3e90c694dc82

Output 2: https://gist.github.com/happymcplaksin/e296ee228b2ced7326d4

I'm happy to be doing something wrong :) I just don't see the problem.

[2016-02-02 06:57] mholt commented on #92
The `rm -rf` line should read `rm -rf $GOPATH/pkg`, but I'm still not sure if that'll fix it...

[2016-02-02 07:42] janeczku commented on #94
@jimmycuadra The fix is not in the HEAD. Please built from this branch and report back: https://github.com/xenolf/lego/tree/route53-literal-quotes

[2016-02-02 08:30] janeczku opened #95 "NXDOMAIN errors in DNS challenge"
Had to hardcode a 5 sec sleep after creating the TXT record because of frequent errors:

We need to tweak DNS check here a bit: https://github.com/xenolf/lego/blob/master/acme/dns_challenge.go#L70

We should not rely on the SOA record content. This gives us only the master server of the zone - which might not even be part of the NS record that recursive resolvers query to find the nameserers. Boul

[2016-02-02 13:30] happymcplaksin commented on #92
I had GOPATH set to (the full path of) the directory I was in so that `rm -rf` line was effectively `rm -rf $GOPATH/pkg`

Are you able to test with a CNAME to help determine if I'm just crazy? :)

[2016-02-02 15:09] xenolf commented on #92
I was able to test it with a CNAME using Cloudflare and it worked fine for me.

My setup was CNAME www.example.com points to example.com.

[2016-02-02 15:13] xenolf commented on #95
Yeah I agree that SOA is probably not the best bet here. I will do an implementation using NS records and see if that performs better.

[2016-02-02 17:35] PunKeel commented on #61
Looks like LE supports them

https://community.letsencrypt.org/t/ecdsa-testing-on-staging/8809/54 :-)

[2016-02-02 17:36] mholt commented on #61
@PunKeel See the [add-ecc-support](https://github.com/xenolf/lego/tree/add-ecc-support) branch :wink:

[2016-02-02 18:01] PunKeel commented on #61
@mholt Thanks! Wasn't shown in Github's search results

Anyway, nginx doesn't support ECC+RSA yet :'(

[2016-02-03 01:09] jimmycuadra commented on #94
Ah, my mistake! Using that branch:

[code]

Looks like two problems:

1. It's using the wrong value when it tries to delete the DNS TXT record (probably the same issue, needs literal quotes)
2. The value it puts there is not actually correct. No idea why. Let me know what other info I can provide to help debug.

[2016-02-03 06:06] janeczku commented on #94
Thanks for the feedback. I think this should be fixed by using raw string literals. Could you build and run from this patch branch: https://github.com/janeczku/lego/tree/route53-raw-string-literals ?
Thanks again and sorry for the trouble!

[2016-02-03 18:26] oov commented on #94
Hi @janeczku!
I tried your branch but still failed because ChangeResourceRecordSets is not completed yet at returning from the function.
So we should probably add the following code to after ChangeResourceRecordSets.

[code]

[2016-02-03 18:28] janeczku commented on #94
Care to share the log output when you run from my branch? I don't have AWS credentials at hand right now to test myself. @oov

[2016-02-03 18:42] oov commented on #94
Ok.
[code]

[2016-02-03 18:58] janeczku commented on #94
Thanks! Are you sure you were actually building from my patch branch? There should be a log line with the `recordSet` struct printed out! See: https://github.com/janeczku/lego/blob/8f3d6fd7ec1973ac7da5fe2863b247c04854a3ce/acme/dns_challenge_route53.go#L63

[2016-02-03 19:07] janeczku commented on #94
You probably need to copy this file https://github.com/janeczku/lego/blob/route53-raw-string-literals/acme/dns_challenge_route53.go and overwrite the one in $GOPATH/src/ github.com/xenolf/lego/acme. And then build normally.

[2016-02-03 19:08] oov commented on #94
Sorry I'm wrong, this is correct your branch's log.
[code]

[2016-02-03 19:20] oov commented on #94
And, this is the log that applied my change to your branch.
[code]

[2016-02-03 19:39] janeczku commented on #94
But the error message from Lets Encrypt `Correct value not found for DNS challenge` indicates that the record was in fact created, just that the value is incorrect. Strange...

[2016-02-03 19:44] janeczku commented on #94
[code]

So it really takes more than 1 minute for the DNS record to be created and propagated? Thats unexpected. We better use that status check then...

[2016-02-03 19:53] oov commented on #94
This message is correct because this incorrect values is trash of the previous request.
[code]
Sorry to confuse you.

Yes, it is pretty slow.

[2016-02-03 20:07] oov commented on #94
I found a related topic: https://github.com/saltstack/salt/issues/18720#issuecomment-77305372

[2016-02-03 21:48] jimmycuadra commented on #94
FWIW, when I was using letsencrypt.sh, I had to add a sleep of about 10 seconds to the DNS challenge hook script before calling back to Let's Encrypt to tell it to check the record. That would support oov's observations.

[2016-02-03 22:26] janeczku commented on #94
Yeah, i did not expect DNS propagation time to be that substantial with the big cloud providers. We obviously need to determine that every single authoritative NS for the domain has been synced with our record before sending off the challenge to Let's Encrypt. Otherwise the challenge validation might fail with NXDOMAIN errors.
With Route53 we just need to wait until the status of our request chang

[2016-02-04 00:04] janeczku commented on #94
@oov @jimmycuadra I would appreciate if you could give PR https://github.com/xenolf/lego/pull/97 a test run and report back. Thanks! :smiley:

[2016-02-04 01:18] jimmycuadra commented on #94
#97 worked for me! I had to update my IAM policy to allow route53:GetChange on all change resources. Here is the final version of the policy that was required (this should go in lego's docs for using the AWS DNS challenge):

[code]

[2016-02-04 01:23] janeczku commented on #94
Absolutely. You wanna open a PR for adding this to the docs?

And thanks again for verifying the patch :+1:

[2016-02-04 01:25] jimmycuadra commented on #94
Sure, I'll do the docs once your patch is in.

[2016-02-04 17:27] happymcplaksin commented on #92
Sorry for the delay; I went to re-test and it looks like the cname-fix branche is gone? I don't see the CNAME fix in master either.

[2016-02-04 17:57] xenolf commented on #92
There is no fix as of yet. I tested it with the code as is and it worked for me.

[2016-02-04 18:23] happymcplaksin commented on #92
Sure, I understand there's no final fix yet. I was going to re-test since I failed to make it work (presumably my fault). But the cname-fix branch disappeared. So I wonder if that's significant and I should wait for an alternate fix before retrying?

[2016-02-04 19:16] mholt commented on #92
My fix wasn't correct, since Sebastian and I realized we don't understand the problem, because we can't reproduce it. We'd like to know your DNS setup, specifically what your zone file looks like.

[2016-02-05 03:05] #94 closed

[2016-02-06 05:54] jehiah opened #99 "Handle HEAD request errors"
When a HEAD request failed, the error wasn't handled correctly causing the subsequent `Body.Close()` to panic.

[code]

[2016-02-06 18:42] janeczku commented on #92
@happymcplaksin PR #96 will be more resilient to handle edge cases in DNS delegation. Maybe you give it a try?

[code]

[2016-02-06 20:28] jehiah opened #100 "Imports & Dependencies"
I sweat dependency trees, and really enjoy light libraries. One of the initial appeals to me of `lego` over [`hlandau/acme`](https://github.com/hlandau/acme) was how light this project was in terms of dependencies to accomplish what i needed. :heart:

Unfortunately, with the current code structure, the addition of support for multiple DNS providers to solve the `dns-01`  challenge has increased th

[2016-02-06 20:34] xenolf commented on #100
Yes... I also do not feel too good with all these dependencies directly in the acme package.

My thought was that I first wanted to get the feature stable and then do a clean up to structure it in a way I feel comfortable with.

As we progress on DNS-01 I think it is a good time to start thinking about this.

[2016-02-06 20:43] xenolf commented on #100
That being said... I am in favor of packages per DNS provider and just having the manual provider in the acme package itself as it does not add a dependency but allows for completion of the challenge.

[2016-02-06 21:01] happymcplaksin commented on #92
@janeczku That works! Thanks :)

FYI while testing I discovered an error on my part on our DNS. When I first added the TXT record for iamacname.example.com I used a new-ish script which I thought failed to add the TXT record entirely. So I added future TXT records by hand.

When testing today I discovered that the script had actually added the TXT record as _acme-challenge.example.com. This probab

[2016-02-06 21:03] mholt commented on #100
I actually got an email from someone packaging Caddy for Debian and since Caddy uses the acme package, and mitchellh/goamz was one of them. Also the miekg/dns package is cool but it's huuuge.

+1 to refactoring.

[2016-02-06 21:13] jehiah commented on #100
related to dependencies, was there a specific motivation for using `mitchellh/goamz` over https://github.com/aws/aws-sdk-go?

[2016-02-06 21:21] happymcplaksin commented on #92
PS: I re-tested w/o the patch and w/o the oops TXT record and still get a failure on line 82. So PR #96 definitely helps.

[2016-02-07 10:11] xi2 opened #106 "Make lego more search friendly with godoc.org"
Hi. Firstly, thank you for making lego. It's working great for me. This is not a bug report, but merely a suggestion.

When I go looking for Go stuff my first try is normally to type the thing I am looking for into godoc.org (e.g. "lets encrypt" or "acme"). I actually did this twice over the last couple of months and failed to notice lego. I eventually found it a day or two ago via a blog post.

T

[2016-02-07 10:31] xi2 opened #107 "Reverse proxying to lego requires modifying reverse proxy transport"
Hi. I'm not sure if this is a bug or not, but if not it might be worth documenting somewhere if it isn't.

My setup is that I wanted to run lego on a non-standard port (using the --http flag) and have http-01 acme challenges forwarded to lego from my two web servers.

My first attempt at doing so was to add 302 http redirects but for some reason the Let's Encrypt validation servers just wouldn't p

[2016-02-07 12:44] mholt commented on #106
I can work on this.

[2016-02-07 13:13] xi2 commented on #107
To reply to myself, I've just made a patch to lego that (I believe) solves the problem. I will submit a PR in in minute or two (never done one before!)

[2016-02-07 13:40] xenolf commented on #106
So we just need to add `Let's encrypt and ACME CLI package` to the main package and `ACME library implementation` to the acme package? (for example)

[2016-02-07 13:42] xenolf commented on #100
ping @janeczku

[2016-02-07 13:46] xenolf commented on #107
I think 302 redirects only work for redirecting from a domain to another (www.example.com to example.com) and not to a different port for that matter.

About the KeepAlive problem, you are completely right :)

[2016-02-07 13:48] xi2 commented on #106
Yes, I believe so. Then if I type "let's encrypt" into Godoc search, because that string is in the package description, it should come up. And more importantly it shows what lego is used for. :)

[2016-02-07 13:51] xi2 commented on #107
Great. It's my first PR so glad not to have made a fool of myself :)

[2016-02-07 14:09] xenolf commented on #106
Well, that shouldn't be too hard to add then :wink:

Thanks for bringing it to our attention!

[2016-02-07 18:45] xenolf commented on #37
Closing this as nobody opposed.

[2016-02-07 18:45] #37 closed

[2016-02-07 23:14] janeczku commented on #100
+1 to the refactoring

Mostly that it seemed overkill to import such a huge library for basically just a single API method:

![awsvsgoamz](https://cloud.githubusercontent.com/assets/3813921/12876063/6bb9ee48-cdf8-11e5-936f-f8c3e79a9534.png)

[2016-02-08 00:59] #106 closed

[2016-02-08 01:15] #107 closed

[2016-02-08 01:16] xenolf commented on #92
I will keep this issue open until #96 lands.

[2016-02-08 15:38] xi2 opened #109 "Add a Go web server+Lego tutorial to wiki?"
Hi Legoers. I've been so impressed with Lego after discovering it a couple of days ago that I made a short tutorial describing my setup to try to help others. You can find it here:

<https://github.com/xi2/lego/wiki/A-100%25-automated-Lego-setup-for-Go-web-servers>

Sorry for creating a Github issue, but there doesn't seem to be pull requests for the wiki?

Is the tutorial worth adding the wiki? I

[2016-02-08 15:48] willglynn opened #110 "`lego dns-test` feature request"
I'd like to be able to run `lego --dns=foo --domains=totally.legit.biz dns-test`, which would:

1. Use the `foo` DNS provider to create a `_acme-challenge.totally.legit.biz` record with a unique value for testing.
2. Watch and wait for `_acme-challenge.totally.legit.biz` to report that value just like a normal DNS challenge, preferably with extra log output so I can see what it's doing.
3. Clean u

[2016-02-08 15:48] willglynn opened #111 "Move DNS providers out of the lego executable"
`lego` could grow indefinitely by supporting every DNS provider API ever made, but this seems less than ideal (#100). I'd like to discuss how to move DNS providers out of the `lego` executable.

It is fortunate that DNS-01 has a very small surface area in terms of what functions are required. There's basically just two operations:

1. Create the record `_acme-challenge.whatever IN TXT "abc123"`
2.

[2016-02-08 17:52] mholt commented on #111
I wonder how many DNS providers really require a whole library to be imported in order to set and delete TXT records. For example, when I implemented DigitalOcean's DNS solver I simply used net/http.

If we can strip down the code of each provider to just using standard library functions, then I'm OK with adding more providers as long as they go in their own package.

But if each provider is going

[2016-02-08 17:53] mholt commented on #110
Why not just use the staging endpoint? `https://acme-staging.api.letsencrypt.org/directory` This way you don't contact the live staging endpoint or have to launch your own ACME server.

[2016-02-08 18:15] xi2 commented on #111
I agree with this comment, that stripping down the code might be the way forward. I started to write a challenge solver for [Gandi API](<http://doc.rpc.gandi.net/>) before realizing I could make http-01 work with the Stdlib reverse proxy. However, I got far enough to realize that the (huge) Gandi Go package was not necessary and I could just marshall/unmarshall the XML myself quite easily, since a

[2016-02-08 18:22] willglynn commented on #111
I agree that it's possible to implement many providers in terms of `net/http` and standard library crypto. On the other hand, take where we are now as a baseline: `lego` currently uses libraries for AWS Route53, CloudFlare, and DNSimple, so it needs ongoing work to track changes in those libraries. Removing them would mean re-implementing the relevant parts of those libraries, and the ongoing work

[2016-02-08 18:27] willglynn commented on #111
Hmm… maybe it makes sense to use both strategies? Keep zero-dependency providers internal, and spin off e.g. `lego-dns-route53`?

[2016-02-08 18:28] xi2 commented on #111
That is a fair point you make @willglynn that tracking libaries is easier than tracking protocols. Especially if the person who writes the solver disappears. Each solver will likely have a different author and they may not stick around to maintain it. But I guess it comes down to balance and a sort of cost/benefit analysis as to whether to use the lib or not.

[2016-02-08 18:57] xi2 commented on #111
Thinking about this some more, maybe this would work:

Have each DNS solver in a seperate package, say under:

  `github.com/xenolf/lego/acme/dns-XXXX`

Keep the plain acme package just for the non-dns solvers

An API user would then just import whichever solver they want, and get the bloat they want.

For the CLI app, lego, we could have the default `go get` action build it with no DNS solver and

[2016-02-08 19:46] willglynn commented on #111
I've been tinkering with moving DNS providers out of `package acme`, and I have this in a branch right now. (All the providers are still in a single package at the moment, but it need not stay that way.) There's a registry which lets `cli.go` ask "which providers do I have?" and to instantiate them as directed. Each provider starts with code like:

    func init() {
    	Registry.addProvider("digi

[2016-02-08 21:27] willglynn commented on #110
Huh. That… didn't occur to me. Good idea!

[2016-02-08 21:27] #110 closed

[2016-02-09 00:30] gmbuell opened #114 "Provide builds with go 1.5"
Hello,

I'm guessing the current releases are built with go 1.6 which attempts to use http/2 which doesn't currently work with the lets encrypt production servers. Given that go 1.6 has not yet been released, it seems like the released binaries should be built with 1.5 to fix this issue.

[2016-02-09 00:37] xi2 commented on #114
I don't know about the binaries you are using, but I'm using a self-compiled lego binary built with Go 1.6rc2 and it's working fine. I had 2 certs issued today.

[2016-02-09 00:42] xi2 commented on #114
I should add I'm using latest master.

[2016-02-09 00:42] xenolf commented on #114
The current binaries which are up for download are compiled using go 1.5.3.

[2016-02-09 00:42] #114 closed

[2016-02-09 00:47] gmbuell opened #115 "Error creating new registration"
When creating a new certificate, I get the following error with the current released binaries:
acme: Error 500 - urn:acme:error:serverInternal - Error creating new registration

My command is lego --email=gmbuell@gmail.com --domains=gmbuell.com run
This command works successfully if run against the staging servers.

[2016-02-09 01:12] xenolf commented on #109
So I'm curious. Why did you decide to use exec/command to run the lego binary and not to embed the library directly into your projects?

[2016-02-09 01:25] xi2 commented on #109
Hi xenolf. That is a good question. The reasons are that (1) I was exec-ing the scp binary anyway, so it's not like I'd have avoided using exec, and (2) I wanted to capture the nice terminal output of the lego command since it gets sent in the email for inspection. I could of course have replicated that output that with my own Fprintf's and acme package API calls, but for the tutorial I was trying

[2016-02-09 01:45] xenolf commented on #115
Did you run the command against staging or against live first?

[2016-02-09 02:08] xenolf commented on #111
I'm sorry that I'm a bit late to the party but I had to think about this.

As I said in #100 I'm in favor of moving the DNS providers apart from the manual provider out of the ACME package to lessen the dependency burden. The manual provider should remain in the package as I think every challenge should be solvable by just importing the package.

Concerning the other providers, I think it makes se

[2016-02-09 02:17] xi2 commented on #111
That is a good point about keeping the manual DNS provider within the core acme package, and within whatever the "basic" build of the CLI is.

[2016-02-09 03:57] willglynn commented on #111
I took a stab at some reshuffling in #112.

I put the DNS providers in `lego/dns_providers`, rather than `lego/acme/dns_providers`, because there really isn't anything ACME-specific about them. The DNS challenge providers themselves are bits of code that can create and destroy TXT records, but they're totally oblivious to the details.

`grep`ing that branch, the only reason providers import the `a

[2016-02-09 16:21] gmbuell commented on #115
Ah, I had some cached data in my docker volume. Sorry about that. Closing.

[2016-02-09 16:21] #115 closed

[2016-02-10 06:20] strothj opened #117 "Add support for boulder dns-test-srv"
Boulder contains a test DNS server:
https://github.com/letsencrypt/boulder/tree/master/test/dns-test-srv

You can see it in use here:
https://github.com/letsencrypt/boulder/blob/master/test/js/test.js

Adding a DNSProvider for this would allow plugging in for end to end testing.

Adding support for this would involve writing a DNSProvider and allowing for an override of the DNS server used in dnsp

[2016-02-10 10:18] strothj commented on #117
I have a working version in my branch. I'm able to use lego against the test DNS server running from the boulder docker-compose setup like so:
`BOLDER_DNS_URL="http://127.0.0.1:8055" $GOPATH/bin/lego --domains example.com --server "http://127.0.0.1:4000/directory" --email "admin@example.com" --exclude "http-01" --exclude "tls-sni-01" --dns bouldertest run`

You'll see a response from the test DNS

[2016-02-10 19:54] jvehent opened #119 "Request ECDSA certificates"
Now that [Let's Encrypt supports ECDSA](https://twitter.com/letsencrypt/status/697504441075798016), it would be great if lego could generate ecdsa CSRs instead of RSA ones.

Most clients support P-256 and P-384 curves, with the former being more commonly used, so it would probably be a good default. That said, NIST recommends P-384 nowadays.

[2016-02-10 19:56] mholt commented on #119
I think this is a duplicate of #61.

[2016-02-10 19:56] #119 closed

[2016-02-10 19:59] xenolf commented on #119
Yep, ECC support is in the [add-ecc-support](https://github.com/xenolf/lego/tree/add-ecc-support) branch. Currently we default to P-384.

[2016-02-10 20:17] xenolf commented on #109
No, I was just curious :smile:

I feel like this would make a great blog post, but for the wiki it's a bit too specific I'm afraid.

[2016-02-10 20:17] #109 closed

[2016-02-10 20:55] xi2 commented on #109
With hindsight, I think you are completely right in that it's far too specific to my setup. It will go on my blog :-)

[2016-02-11 01:51] xenolf commented on #95
Closed per #116

[2016-02-11 01:51] #95 closed

[2016-02-11 01:51] xenolf commented on #92
Closed via #116

[2016-02-11 01:51] #92 closed

[2016-02-11 02:09] xenolf commented on #117
I am actually working on integration testing against boulder in a local branch to allow for proper integration tests of all the challenges.

Didn't add DNS-01 support yet though :)

[2016-02-11 02:39] xenolf commented on #111
You are right, I am not objected to making them siblings.

I agree that `lego` should to import all providers by default. People who are concerned about the size can customize the build by passing in buildflags.

I would also like to think about how providers to other challenges would fit into your approach. I know that at the moment we have more providers for DNS-01 compared to the other two chal

[2016-02-11 23:13] fenderle opened #120 "Provide filter script for certificate generation"
Currently the CA chain and the certificate is bundled into the crt file, while the key resides in the key file. This is all great and good but there are many cases where we would need other formats, because there is not only apache but many other daemons which come with all sorts of ssl configuration requirements. Some want everything in one file (eg. haproxy), some want everything split up, etc.

[2016-02-11 23:19] fenderle opened #121 "Add support for a configuration file"
The command line call gets more and more cluttered, esp. with the addition of the dns solver and its wide variety of configuration through environment variables.

Wouldn't it be nice to have a structured configuration file to specify the options?

[2016-02-12 00:11] mholt commented on #121
You mean like `wss://` in the client and then proxy to a websocket backend? Assuming the websocket app is listening on `localhost:1234`:

[code]

Did I miss this example in the docs?

[2016-02-12 03:07] PunKeel commented on #52
Thanks! <3

[2016-02-12 22:11] xenolf commented on #120
I'm afraid I'm not understanding how adding a `--format` option would make your example any better?
You are using a script now to split the certificates up, I get that. But you would still need a script or program to do that when it gets called by lego using the `--format` switch.
Is your issue only in the passing around of data?

I actually didn't decide on the cert file format with apache or any

[2016-02-13 18:29] mholt commented on #121
AFAIK this CLI tool is supposed to stay simple, and using a configuration file makes it easier to make it complicated.

[2016-02-13 18:32] fenderle commented on #121
ok - fair enough.

[2016-02-13 18:32] #121 closed

[2016-02-14 04:21] willglynn opened #126 "Is certificate installation in scope for lego?"
`lego` has three verbs – `run`, `renew`, `revoke` – all of which act on certificates and ACME account data stored on the local filesystem within `--path=.lego/`. As of this writing, `lego` makes no attempt to reconfigure web servers, to facilitate transformations of the recorded data (#120), or to otherwise involve itself in what happens after it's obtained a certificate. Once the ACME exchange is

[2016-02-14 04:54] mholt commented on #126
My instinct tells me that server configuration is outside the scope of lego. I think lego should stay as simple as possible. Its crown jewel is the acme package, which is, IMO, one of the most mature and well-documented ACME clients available today, and it's usable in any Go program. I think of the CLI as more of a simple utility for people with basic needs and don't want any magic, just a simple

[2016-02-14 05:16] willglynn commented on #126
That's pretty much what I was thinking – there's lots of space for tools on top of `lego/acme` and it makes sense for `lego` to stay approximately what it is right now.

I have particular problems involving certificate management on systems that can't directly participate in ACME exchanges. This is why I've been so interested in dark corners of the DNS-01 challenge, why I'm eager to land `ObtainCe

[2016-02-14 14:38] xenolf commented on #126
Server configuration is indeed a rabbit hole which I don't want this project to venture into. The CLI was built with the intention of being a tight wrapper around the library and involve as little magic as possible.
The main part of this project is the library which I want to be rock solid and a breeze to use.

I think more specialized things are better built in their own tools on top of the libra

[2016-02-14 14:43] xenolf commented on #126
Configuration was intentionally left to the implementing program. People are free to use the CLI as an example, but in no way is this configuration structure set in stone.

[2016-02-14 14:46] willglynn commented on #126
Great! Sounds like there's nothing to do here :smiley:

[2016-02-14 14:46] #126 closed

[2016-02-14 15:37] kop opened #128 "Flag for accepting ToS?"
I'm trying to use version `0.2.0` and it fails with following:

[code]

Maybe it makes sense to add `--accept-tos` flag. Cause in another case, this package is completely useless for automation.

[2016-02-14 19:24] willglynn opened #129 "lego/acme contains OCSP support"
`lego/acme` contains `GetOCSPForCert()`. [The implementation](https://github.com/xenolf/lego/blob/00f13f2da0cc14530d9d113854cbda054e00d569/acme/crypto.go#L47-L124) does not appear ACME-specific, and this method isn't used by anything else inside `lego/acme` or the `lego` tool.

Why is this method in `lego/acme`? Should this method be relocated to a different package (e.g. `lego/ocsp`) to reduce `l

[2016-02-14 20:13] mholt commented on #129
Let's Encrypt, which is so far the only ACME CA, strongly encourages OCSP stapling, so the library includes an RFC-compliant function to make it easier to do it right.

I guess it could be moved to a different package but it would only contain a few functions, some of which are currently unexported and used by other functions in the acme package.

[2016-02-14 20:24] mholt commented on #129
Although perhaps we could move much of the crypto file to a new package called `certificates ` that deals with parsing, encoding, decoding, OCSP, etc, all other things related to certificates that is useful for the acme package and its importers.

[2016-02-14 20:27] willglynn commented on #129
Sure, but… everyone in the ecosystem encourages OCSP stapling. This responsibility falls on whatever program is actually using the certificate, not on the library that obtained it.

I understand that tools like caddy have every reason to incorporate OCSP stapling, but `GetOCSPForCert()` works fine for non-ACME certificates, and it's not actually related to ACME, so it seems out of place in `lego/a

[2016-02-15 02:03] xenolf commented on #128
Yes you are right, this is definitely needed. If it's not coming with #125 then I'll implement it separately.

[2016-02-15 02:11] xenolf commented on #129
There are multiple things inside the `acme` package which strictly aren't any concern for ACME. Most of the functions in `crypto.go` deal with encoding and/or transforming certificates which is not part of ACME either but strife to make the experience for the consumer of the library better.

I'm not against moving it into it's own package, but the question is if a single function warrant it's own

[2016-02-15 03:28] willglynn commented on #129
The broader `lego/acme` package and the `lego` CLI can't help but deal with certificates, keys, and signatures, so keeping things like PEM encoding/decoding local to the package seems appropriate even if it's not strictly ACME-related.

`GetOCSPForCert()` is the only reason `lego/acme` pulls in `golang.org/x/crypto/ocsp`, and isn't needed at all unless you're a TLS server that's trying to follow b

[2016-02-15 06:06] mholt commented on #129
I would argue that nearly every user of ACME certificates are using TLS in some form or another, whether it be for mail or web, etc., and every TLS server should follow basic best practices especially OCSP since every client that relies on a certificate for security should check its revocation status.

The whole point of ACME is to be integrated directly into the TLS servers. And every TLS server

[2016-02-15 15:19] willglynn commented on #129
I agree that ACME users are almost certainly TLS users. I disagree with assuming that ACME *library* users are also TLS servers, hence my objection to bundling OCSP in `lego/acme`.

That is one way to use ACME. If this were the only way ACME was intended to be used, then ACME would have no need for challenges besides `tls-sni-01`.

ACME is designed to support a broad range of use cases. At the pre

[2016-02-15 21:02] mholt commented on #129
Nothing else needs to be customized... and requests are orthogonal to the http.Client that is used, I'm not sure why providing their own client would help.

Yeah, we want the servers to know who is request OCSP.

Yes. We can decode the PEM but that step is not necessary all the time, since the DER bytes are needed anyway.

I want to store the parsed OCSP response alongside the tls.Certificate so I

[2016-02-15 22:41] willglynn commented on #129
Hmm… maybe the more fundamental issue is that `GetOCSPForCert()` is only a partial solution.

Stepping back: the purpose is to make OCSP stapling correct and convenient for Go TLS servers, right? So… why force the TLS server to juggle OCSP responses at all?

I'm picturing a function that takes a `tls.Certificate`, launches a goroutine, and returns something that you can call to get more `tls.Certi

[2016-02-18 13:07] loop0 opened #134 "--tls flag not working"
Hi,

I tried to generate a certificate using the --tls flag to change the https challenge server port but it appear to have no effect and try to bind at port 443.

[code]

Gives me the error:
[code]

Am I doing something wrong or is it a bug?

Thanks!

[2016-02-18 20:11] xenolf commented on #134
Hello!

You have to pass `interface:port` or `:port` to `--tls`.

[2016-02-18 22:57] xi2 commented on #134
I have accidentally made this same error myself. Should we make it so that if an argument `<arg>` to `--http` or `--tls` consists of digits only it is mapped to `:<arg>`. If you agree I can make a PR.

[2016-02-19 17:30] xenolf commented on #134
I'd rather add an error output to the CLI if an argument without a colon is passed to `--tls` or `--http`. :)

[2016-02-19 21:02] xi2 commented on #134
Yes, adding a more helpful error message is a better idea than mine.

[2016-02-19 22:51] lenovouser commented on #121
Hm. I don't know. I fully understand that you want to keep this simple, but I have a ~~s**t~~ load of (sub-)domains right now because LE doesn't support wildcard certificates at the moment. This might change in the future with the DNS challenge, but for now it doesn't work. Currently I use the normal LE client, but I really don't like it and would love to use lego but this kind of keeps me from do

[2016-02-20 00:16] lenovouser commented on #121
@mholt cool! Started watching so that I can stalk it :stuck_out_tongue_closed_eyes:

[2016-02-20 00:43] #134 closed

[2016-02-21 02:36] #128 closed

[2016-02-26 02:23] middelink opened #140 "Using RFC2136 dns challenge does not allow to create multi domain certs."
Since the rfc2136 provider requires me to set the zone upfront, i cannot create a cert covering more than one zone. e.g. RFC2136_ZONE=a.nl, ./lego --dns=rfc2136 -d www.a.nl -d www.b.nl run

Since I realize this is rather dns-setup specific, could we perhaps create a zone with a special meaning? like "auto", which will derive the zone from the last 2 parts of the fqdn? aka www.a.nl > a.nl ?  Perhap

[2016-02-26 15:12] janeczku commented on #140
I guess we could lookup the zone names for the domains like the other DNS providers do and get rid of the `RFC2136_ZONE` parameter all together.

[2016-02-27 02:07] middelink commented on #140
That is ... awkward. I guess one could query for the SOA on each level till one finds a SOA.
bigbox.ch.polyware.nl > nothing
ch.polyware.nl > nothing
polyware.nl > SOA > gotcha

But yeah, for lack of a better way, that might be the best we can do.

[2016-02-27 10:34] janeczku commented on #140
No need to traverse - the `authority section` contains the SOA of the zone:

[code]

[2016-02-27 10:41] middelink commented on #140
Are you sure all nameservers will report the authority section? Looking at various internet posting on the topic made me doubt that assumption. (Although I agree that if you are incapable of setting RC2136_NAMESERVER to *your own* authoritative nameserver, you probably should not be doing this at all.)

[2016-02-27 12:03] janeczku commented on #140
Name servers authoritative for a zone MUST include the SOA record of
   the zone in the authority section of the response when reporting an
   NXDOMAIN or indicating that no data of the requested type exists

[2016-02-27 12:07] middelink commented on #140
Yeah, that part was clear. Just that not any nameserver would do, so the query needs to be done against RFC2136_NAMESERVER.

I'll try to whip up a patch

[2016-02-27 12:10] janeczku commented on #140
That's what i thought too. We can't expect a recursive nameserver to include the SOA in it's answer.

[2016-02-28 00:14] middelink commented on #140
https://github.com/xenolf/lego/pull/143

[2016-02-29 08:09] middelink opened #145 "Like accounts, should certificates live under the server-directoy?"
Rationale: when I use anything but the official https://acme-v01.api.letsencrypt.org/directory" they are different, self-signed certificates, not to be confused with the real ones. It will be good to not deploy them by mistake to production environments and now we have to examine the certificate itself to make the distinction.
  It will break the existing structure though, although only revoke/ren

[2016-03-02 03:30] pjebs opened #146 "doesn't work"
I ran `lego --email="foo@bar.com" --domains="example.com" run` (with my details instead).

It doesn't work. It simply pauses and shows some kind of command line screen where I can type arbitrary text. I can type stuff but that doesn't do anything plus your instructions doesn;t even mention this text entry screen.

[2016-03-02 03:31] mholt commented on #146
Could you please post the text you see exactly? Or a screenshot.

[2016-03-02 03:48] pjebs commented on #146
i think their server was down because I specified the server actual  explicitly and then it worked.
It produced a *.crt  and *.key file.
Do I need to convert it to pem format to use in Golang's built in webserver:

`err := http.ListenAndServeTLS(":443", "cert.pem", "key.pem", nil)`

[2016-03-02 03:53] xenolf commented on #146
No, the output is already in PEM format and includes the intermediate certificate.

[2016-03-02 03:58] #146 closed

[2016-03-02 23:21] xenolf commented on #140
Closed per #143

[2016-03-02 23:21] #140 closed

[2016-03-03 00:12] xenolf commented on #145
The rationale behind the current structure was to always have the latest cert / key combination in the same place without having to worry about what service you got the certificate from. I can see where you are coming from though.

What kind of link do you have in mind? Linking the local identifiable account to the cert (the email address maybe) or the URL to the ACME identifier?

[2016-03-06 22:48] mholt commented on #129
IMO that's scope creep.

But having GetOCSPForCert() is pretty much a necessity since Let's Encrypt supports must-staple. So I can see why a Let's Encrypt client lib might provide it as a convenience.

[2016-03-07 09:24] JorritSalverda opened #147 "Release date next release with cloudflare dns challenge"
I can build and compile the current master branch and it works perfect for using cloudflare for the dns-01 challenge. However this code isn't part of version 0.2.0 yet. When is the next release due? Is it awaiting certain fixes? A milestone might be useful to see what's still lined up for going in the new release.

Btw, thanks for the awesome cli that doesn't require any dependencies like python a

[2016-03-07 09:55] xenolf commented on #147
The next release will get pushed after #144 is in. If the open PRs which introduce new providers for DNS get rebased on the new format introduced in #144 then I'd like to get them in as well.

[2016-03-07 09:59] JorritSalverda commented on #147
Cool, thanks.

[2016-03-07 09:59] #147 closed

[2016-03-07 10:06] xenolf commented on #147
I added a milestone for the next release :)

[2016-03-08 12:59] middelink commented on #145
To be honest, I have no preference. Just any way to link up an account to the user would be great. Both the email address and the uri (like "https://acme-staging.api.letsencrypt.org/acme/reg/131077", right?) would work fine for this purpose.

[2016-03-09 01:40] beevik opened #149 "DNS Challenge in the face of slow DNS update propagation"
I'm in the process of adding a DNS challenge provider for namecheap, but I've been hitting the 30-second propagation timeout.  I don't know if it's just because namecheap happens to be particularly slow at propagating DNS changes, but the 30 second window does seem optimistic.  Has anyone given any thought to making the timeout configurable?

[2016-03-09 03:25] mholt commented on #149
Uh, yes, in fact, see #148 :wink:

[2016-03-09 04:07] beevik commented on #149
Oh sorry I missed that. Closing this.

[2016-03-09 04:07] #149 closed

[2016-03-09 15:44] fenderle commented on #2
Any estimation when POP is implemented? Am I right that this challenge will neither need an external accessible server nor DNS Updates?

[2016-03-09 15:53] mholt commented on #2
@fenderle I believe that's correct. Honestly it's probably not a priority right now since no ACME CA supports it (yet). But I'm sure once DNS is working better it'd be nice to just "finish" this package and have PoP working even if it's not enabled for now.

[2016-03-11 03:11] xenolf commented on #145
Yes, that's what I meant. I will add this in as I just encountered that problem myself with not knowing which account a certain certificate was from :sweat_smile:

[2016-03-11 03:12] xenolf commented on #2
Right, I did not invest any time into PoP yet as we can't use it anyways. We will support it when it's available though.

[2016-03-13 04:48] willseward opened #151 "Feature Request: dns-01 should account for wildcard domains"
Assuming someone had the domain `example.com` and `server1.example.com` were a CNAME for `example.com`, the dns-01 certificate request would fail. This is the case for topologies using L7 load balancing.

After skimming the ACME protocol, I don't see any prohibition for looking for `server1.example.com` zone first, then after failing to find it, looking for  `example.com`, and so on... Correct me

[2016-03-13 06:17] willseward commented on #151
Something like this: 57850777a37e200910b8e26c75fa3b1271742a53

I'm not a go programmer, so I'm hesitant to put in a PR

[2016-03-14 02:09] xenolf commented on #151
Hey @willseward! I'm pretty sure we support CNAMES when checking for a live record. The support was added in #116. We are checking if the DNS record we request a cert for is in fact a CNAME and if it is, we use the delegated record for our logic. (see [here](https://github.com/xenolf/lego/blob/master/acme/dns_challenge.go#L91))

If I misunderstood the problem you are describing, please correct me

[2016-03-14 02:09] xenolf commented on #111
With the merge of #144, I guess we can close this. Feel free to reopen if there is still something left to discuss.

[2016-03-14 02:09] #111 closed

[2016-03-14 02:15] xenolf commented on #100
@jehiah #144 was merged and it removed most of the dependencies from the ACME package.
The dependency tree looks like this now:

[code]

We could not get rid of the `github.com/miekg/dns` dependency for the time being as it is needed to do the DNS checks for the validation records and I was unable to find a proper solution to move this check out of the challenge itself.

[2016-03-14 02:30] xenolf commented on #145
The link through meta data is now in.

[2016-03-14 06:59] willseward commented on #151
That commit may solve the problem on other providers, but the DO provider is still broken with respect to this issue. If you don't have the dns setup as a zone in DO, it will return a 404 and fail. It would be an easy fix to expand the Present method to this `Present(domain, authZone, token, keyAuth string)`, so that DO would know where to place the TXT record.

[2016-03-14 09:56] munnerz opened #152 "Export getChallenges function"
It is not always feasible that the machine requesting the SSL certificate is serving on port 80 and 443 of the domain (eg. in a clustered setup where the incoming requests are load balanced). In order to facilitate this scenario, I want to store the challenge elsewhere to be picked up by whichever instance may be handling the actual HTTP from the ACME server. This is currently not possible with th

[2016-03-14 11:31] jehiah commented on #100
@xenolf this is fantastic. I think that resolves this issue!

[2016-03-14 11:31] #100 closed

[2016-03-14 23:59] xenolf commented on #152
Wouldn't this usually get solved by using the DNS-01 challenge if you can't reliably route traffic to the right instance behind a load balancer?

If you can't use DNS-01 for whatever reason - why not create a custom solver which wraps the current HTTP-01 solver and handles the passing around? This way your custom solver gets called for every challenge and is able to decide on a per-challenge basis

[2016-03-15 00:47] xenolf commented on #151
Oh I'm sorry - I didn't understand this as a DO problem at all as you weren't mentioning it. So if I'm getting it straight now, the issue is that the DO API returns a 404 if the validation domain is not a zone but merely belongs to a wildcard CNAME?

Changing `Present` would not help with this I'm afraid as the code I linked to actually runs after the provider added the TXT record to validate it.

[2016-03-15 01:19] willseward commented on #151
As long as example.com is the authoritative zone for *.example.com, placing a TXT record in example.com should validate successfully. If the CNAME for *.example.com points to examplestatic.com, I don't think that makes much of a difference.

I made some changes to the dns-01 test so that the provider will create a TXT record for the validation domain, but adds the record to the authoritative zone

[2016-03-16 15:15] janeczku commented on #152
@munnerz Does https://github.com/xenolf/lego/pull/118 solve your problem ?

[2016-03-16 15:22] munnerz commented on #152
@xenolf I'll have to look into this as a possibility - to further explain my problem: I need to store the challenge that needs to be served somewhere external (for context, this is within a Kubernetes clusters 'Secret' resource) so that when the HTTP request comes in (which may be served by an entirely separate microservice), it is able to retrieve the correct challenge and respond with that to th

[2016-03-16 16:02] xenolf commented on #152
So if I'm understanding this right you want to start requesting a cert on one client and have multiple nodes be able to handle the response to the ACME validation request coming from the ACME server. When the validation succeeded the original client should then continue to download the certificate.

This should actually be possible with a custom provider. You receive the challenge in your provider

[2016-03-16 16:06] janeczku commented on #151
@xenolf It's a bug in the DO provider. Any certificate request for a subdomain will fail because the `Provide()` method tries to create the validation record in the non-existent zone `subdomain.example.com` instead of in `example.com`.
See https://github.com/xenolf/lego/blob/master/providers/dns/digitalocean/digitalocean.go#L53
/cc @mholt

[2016-03-16 16:22] mholt commented on #151
Oops. I won't have time to fix that in the near future. Looks like @willseward probably has a good start on it.

[2016-03-16 17:49] willseward commented on #151
I'd be more than happy to fix it

--
Wills Ward

[2016-03-17 22:52] xi2 commented on #77
I think this may have been fixed by c3abd54? The command

[code]

Now returns

[code]

[2016-03-18 01:09] willseward commented on #151
https://github.com/xenolf/lego/pull/159

I might have refactored more than I should have. Let me know what you think.

[2016-03-18 01:09] xenolf commented on #151
Alright :)

As the scope of this problem is only the DO provider, we should fix it in there.
@willseward If you want to tackle this then please open a PR with your changes and we go from there.

[2016-03-18 01:09] xenolf commented on #151
Oh wow, what timing :)

[2016-03-18 01:11] willseward commented on #151
Well, I can submit a PR with just DO changes if necessary.

[2016-03-18 01:32] xenolf commented on #77
Yes, the mentioned commit should indeed fix this as the http/tls switches are checked before the domains are used.

[2016-03-18 01:32] #77 closed

[2016-03-18 20:23] xenolf commented on #152
@munnerz does the above help you?

[2016-03-19 04:15] beevik opened #161 "lego help text is hard to read"
The lego usage text is currently extremely wide, making it difficult to read.  This appears to be due to the way the `codegangsta/cli` go library formats help text.

I made some changes that allow the help usage text to appear as follows:

[code]

Unfortunately, to make this possible I needed to make a few changes to the `codegangsta/cli` library.  I'm willing to submit these changes to `codegangs

[2016-03-19 17:17] xenolf commented on #161
I agree. I'm actually planning to move away from `codegangsta/cli` in the next release after 0.3.0 so I don't know if it's worth it to invest much time into this.

[2016-03-19 17:19] xenolf commented on #120
I will close this for inactivity. If you have anything to add feel free to re-open the issue.

[2016-03-19 17:19] #120 closed

[2016-03-19 20:07] beevik commented on #161
ok I'll close. Thanks.

[2016-03-19 20:07] #161 closed

[2016-03-21 18:04] xenolf commented on #2
The PoP challenge has been removed from the ACME spec. Closing this issue.

[2016-03-21 18:04] #2 closed

[2016-03-21 20:30] beevik opened #165 "Vendoring third-party packages?"
I've noticed that lego depends on quite a large number of third-party packages now.  Here's the full list:

[code]

Has there been any thought given to using godep? Keeping lego in sync with the latest versions of all its dependencies is going to become increasingly fraught.

[2016-03-23 15:33] xenolf commented on #165
Yes, I do plan on using vendoring if its viable.

The ACME package itself only has the following external dependencies:

[code]

My view on the ACME package being downloadable via `go get` and thus being standalone is quite strong and this goal needs to be met with whatever vendoring we might use.

I did not spend a large amount of time on looking into vendoring but it would need to accomplish the

[2016-03-23 19:32] beevik commented on #165
I think if you wanted separate vendoring for acme and providers, you might want to consider using git submodules.  Then you could run godep on each submodule.

[2016-03-23 19:53] mholt commented on #165
The go tool supports the "vendor" folder -- would that help/work?

[2016-03-23 20:39] JorritSalverda opened #167 "Cloudflare propagation times out continuously"
Most of the days it works fine, but today the configured 30 seconds timeout isn't sufficient. I get the following error over and over:

Either bumping it up to a much higher value - it does multiple checks within that timeout, right? - or making it configurable by command line parameter would help to cater for this incidental high propagation times.

[2016-03-23 21:13] xenolf commented on #167
Hello there! Thanks for reporting this. I expected that we'd have to tweak these numbers a bit. Do you have an idea as to how much higher we should set it?

Yes, it does.

[2016-03-23 21:25] JorritSalverda commented on #167
Not sure, but in the timeout PR - https://github.com/xenolf/lego/pull/148 - @janeczku mentions that it can go all the way up to 80 seconds:

[2016-03-23 21:29] beevik commented on #165
I'm not positive, but I think the use of the "vendor" folder is only supported by go version 1.6 (and 1.5 if you use a special environment flag).

[2016-03-23 21:45] xenolf commented on #167
Closed via #168

[2016-03-23 21:45] #167 closed

[2016-03-23 22:34] JorritSalverda commented on #167
I actually changed the wrong timeout. It should either have been the global 60 seconds timeout - see https://github.com/xenolf/lego/pull/148/commits/8aa797f49d8ae62385e570b8ebe8769f06a80dec from PR https://github.com/xenolf/lego/pull/148 - or by adding a Timeout func to the Cloudflare provider as is done in https://github.com/xenolf/lego/blob/master/providers/dns/namecheap/namecheap.go (line 79 at

[2016-03-23 22:43] JorritSalverda commented on #167
I'm checking with Cloudflare if this is abnormal and something to fix on their end or if there's a higher maximum propagation time they're dedicated to deliver, which can then be put into the lego client. I'll post it here once I know more.

[2016-03-23 22:56] xenolf commented on #167
And I didn't properly look at it. :-1: I reverted the change and pushed the proper fix with a `Timeout`  function.

[2016-03-23 22:59] xenolf commented on #167
Thank you! :smiley:

[2016-03-24 03:14] janeczku commented on #167
Thanks guys! :smile: :+1:

[2016-03-24 07:09] JorritSalverda commented on #167
Thanks. I'll test this latest version, but 120 seconds might not be enough. According to Cloudflare it ranges up to 10 minutes at this moment, something they're looking into and trying to get fixed. Not sure if you have to code your way around issues on their side though.

A command line configurable timeout might still make sense though, so the user of lego can decide for themselves what they fin

[2016-03-24 08:28] xenolf commented on #167
Thanks for this information @JorritSalverda. Let me know how this latest version work out for you. I'm currently thinking of a way to customize the values of `Timeout` functions from the outside in a sane way.

[2016-03-24 20:08] janeczku commented on #167
@JorritSalverda They seem to have fixed it: https://www.cloudflarestatus.com/incidents/krp8q7d54d0f

[2016-03-24 22:58] JorritSalverda commented on #167
Yes, all is working fine again. Ran lego tons of times successfully today.

[2016-03-25 20:33] JorritSalverda opened #173 "Improvement: setting dns-01 challenge record for multiple domains in parallel"
When running lego for multiple domains it will set the dns TXT record and check propagation in sequence. This can take a long time if the number of domains is large. Would it be possible to parallelize this?

[2016-03-25 21:44] xenolf commented on #173
Well it sure is possible. @mholt and me already had a talk about this and we came to agree that it would be a great feature. The ACME challenges are good to run concurrent as the context for each of them should be seperate. What we need to do though is look all over to be sure that no state is shared.

So yes, this is something I'd like to add in the future :)

[2016-03-25 21:47] xenolf commented on #165
That's the case. I will take some time the coming week to have a look at the current vendoring options and then decide upon a direction to take. I'll of course post that in here and let other people chime in with their opinions :)

[2016-03-25 21:49] xenolf commented on #152
I'll close this for now. If there are additional things you would like to discuss, please feel free to re-open the issue again.

[2016-03-25 21:49] #152 closed

[2016-03-29 16:30] lenovouser commented on #167
@xenolf I had this problem a few days ago too before you fixed it. Which is why I had to force-quit lego because it would have taken ages to finish (`50+` certificates). Now I get the error

[code]

which is described [here](https://community.letsencrypt.org/t/solved-rate-limit-with-san-certificate-90-hostnames/4010/7?u=lenovouser) too:

![](http://puu.sh/nYlcf/bd7f6117d9.png)

Is there any way I

[2016-03-29 16:42] xenolf commented on #167
@lenovouser Authz deletion was only added recently to the ACME spec (https://github.com/ietf-wg-acme/acme/pull/98). I'm not sure if boulder already implements it. What I'm unsure about is how you ended up with that many *pending* authz. Did you abort the client multiple times?

[2016-03-29 16:52] lenovouser commented on #167
@xenolf two times, yes. First time because I waited like 30 minutes and thought "maybe something is wrong with the internet connection lego is getting". I quit it, restarted my root and tried a 2nd time. Then I realized it has to be something deeper in lego and found this issue. This was like 4 days ago and I thought maybe the pending authorizations would go away at some point but they don't seem

[2016-03-29 17:50] janeczku commented on #167
Two times? How many domains did you pass? 150?

[2016-03-29 17:50] xenolf commented on #167
@lenovouser I'm not sure your problem is related to the one discussed in this issue. This issue caused lego to bail before the DNS record was propagated because of an insufficient timeout value. Your issue sounds like lego hung entirely and was not doing anything at all which should not happen as the timeouts should expire.

[2016-03-29 18:04] lenovouser commented on #167
@xenolf I am not sure if lego hung entirely or if it just took longer and longer to set the DNS records. At some point it didn't do anything for about 14 minutes which is why I force-quit it. I just counted and it are exactly `80` subdomains spread over 3 domains all on CloudFlare. And yes, this doesn't really have to do with the issue here but I though it would be the best place to post as this w

[2016-03-29 18:13] lenovouser commented on #167
@xenolf yeah, it probably is not related. Even though this happened `7+` days ago which means it was before you fixed some stuff with CloudFlare in af94ecc8b40a036707c317a3543d2afb578eea01 and some commits before that one. I just though I'd wait a few days before I ask how to fix this here.

[2016-03-29 22:25] lenovouser commented on #167
@xenolf I am unsure whether I should create a new issue or if this is not fixable at all now?

[2016-03-29 23:31] xenolf commented on #167
@lenovouser Well, if it's only about the deletion of authz objects, then you are out of luck at the moment. The client does not save the authz objects it creates to resume aborted operations and boulder does not yet implement the authz link in registrations from [6.1.1](https://ietf-wg-acme.github.io/acme/#registration-objects) of the spec.
Once this gets implemented in boulder we can add support

[2016-03-30 14:56] lenovouser commented on #167
@xenolf okay, I'll hope someone in the LE forum has an idea on how to fix this. Thanks for your help!

[2016-03-31 15:55] janeczku opened #179 "DNS providers fail to present token (read udp i/o timeout)"
Since #142  i am getting intermittent errors with DNS providers:

`level=error msg="[xxx.xxx.xxx] Error obtaining certificate: Error presenting token read udp xxx.xxx.xxx:57113->8.8.8.8:53: i/o timeout"`

As discussed in https://github.com/xenolf/lego/pull/142#issuecomment-189884283 the `acme.FindZoneByFqdn` function doesn't handle connection errors when sending a query to the nameserver. Since DN

[2016-04-01 03:10] Flowman opened #180 "Support for azure dns"
Can we add support for azure dns?

https://azure.microsoft.com/en-us/services/dns/

[2016-04-01 18:04] LukeHandle commented on #180
I'm currently working on Rackspace DNS but could take a look at this after. If I do start, I'll update here.

[2016-04-02 04:17] LukeHandle commented on #179
As before, I suggest we add such functionality in the `dnsQuery` function.

How many times would you consider best for retrying here, would you suggest switching to TCP in the event of an issue for some more reliability?

Finally, do you suggest we only retry when the error is specifically connection issues, or is it worth retrying on any error?

[2016-04-02 08:22] LukeHandle commented on #179
Another thing, where abouts was this error being generated? I was struggling to find the strings in the message eg. https://github.com/xenolf/lego/search?utf8=%E2%9C%93&q=Error+obtaining+certificate&type=Code

[code]

[2016-04-02 13:37] janeczku commented on #179
1. I would rather fallback to the alternate Google DNS (8.8.4.4) when the initial query failed. DNS over TCP is not really purposed for redundancy. It's also worth noting that Google's Public DNS servers throttles clients exceeding a certain amount of queries per minute. They do this by silently dropping the request which looks like a lost packet from our side. If we are rate limited switching to

[2016-04-04 17:16] fd0 opened #181 "Fail gracefully when directory is not available"
First: Thanks for writing lego!

I was just running lego and it gave me the following error message:

[code]

This is apparently caused by maintenance mode of the directory, requesting the URL with curl yields:

[code]

I think it's a good idea to fail gracefully in this case, e.g. by looking at the HTTP response code.

[2016-04-04 17:56] janeczku commented on #179
@LukeHandle Are you working on a fix?

[2016-04-05 08:28] LukeHandle commented on #179
@janeczku I plan to, but I cant promise anything before the weekend as I'm currently away from home. If there is urgency on this, please go ahead.

[2016-04-05 20:22] #181 closed

[2016-04-05 21:13] janeczku commented on #179
@LukeHandle Thanks for the heads up!

[2016-04-08 00:28] oliverjanik opened #184 "Windows/IIS support"
I absolutely love this client. Thanks for the work.

What would it take to be able to run this on Windows and produce certs for IIS?

1) Go is cross platform, there shouldn't be many issues with that
2) IIS uses .pfx format for certs
3) The certs need to be imported into IIS, can't be just file based (I think)
4) During renewal the cert needs to be replaced in IIS registry

Some of these things ma

[2016-04-08 01:02] xenolf commented on #184
Greetings! And thanks for using our tool :)

Unfortunately this won't be possible without using a tool like openssl to convert the PEM file(s) into the PKCS12 format. Go has afaik no built in way of converting and certutil can't work with the PEM format.

You can of course write a powershell script which does all of this for you. Certutil does allow you to import PKCS12 certs directly from the com

[2016-04-10 16:18] LukeHandle commented on #179
Hey @janeczku , are you able to take a look at #186 ?

I thought that using the alternate for both the 2nd and 3rd attempt would be simpler than attempting to switch back to the original for the third. The end result is realistically the same anyway.

Any thoughts/critiques?

[2016-04-11 02:16] xenolf commented on #151
This was fixed by #176

[2016-04-11 02:16] #151 closed

[2016-04-11 05:12] gaillard opened #188 "Could not obtain certificates acme: Error 400 - -"
Is there a way to get more information than this?

I can use the http challenge fine on my own network, but I am now trying to get it to work with amazon and am only getting the above :(

[2016-04-11 06:11] gaillard commented on #188
So i dumped out the error in the handleHTTPError() function, and it looks like this is the blacklisted ephemeral aws instance domains it doesn't like with a: policy forbids issuing for name.

but the real issue here was that error function, no need to decode into json, just dump the body to any error variable so at least callers get it back!

[2016-04-11 21:29] rekby opened #189 "Pending authorizations"
I have send request for few thouthand domains. After 2000 certificates i start received response
Error 429 - urn:acme:error:rateLimited - Error creating new authz :: Too many currently pending authorizations.

I use acme.HTTP01 authentication for domains with webroot provider.
Before each request of certificate I check webroot someself:
generate random token and key, put it to webfolder by the pro

[2016-04-12 00:42] xenolf commented on #189
I'm not sure I'm understanding what you are trying to say :worried:

[2016-04-12 00:45] xenolf commented on #188
Actually all errors coming from the ACME server should have the content type `application/json` and thus should get parsed into an error struct and later printed using [this](https://github.com/xenolf/lego/blob/master/acme/error.go#L22) to print all info we get.

I'll double check that though to be sure.

[2016-04-12 03:54] rekby commented on #189
Sometime authorization failed for good domains. It is problem for large sets of domains: I reached limit

https://community.letsencrypt.org/t/rate-limits-for-lets-encrypt/6769

[2016-04-12 09:02] JorritSalverda opened #190 "Unable to update challenge :: Response does not complete challenge"
I'm getting this error over and over since this week, it might be related to the large number of domains in the certificate, but I'm not sure:

[code]

[2016-04-12 09:45] JorritSalverda commented on #190
It works fine for just 2 domains. Could the total time spent on setting up the dns challenge records be too long for letsencrypt? Or is it the dns propagation for specific domains that's taking up too much time?

[2016-04-12 20:19] xenolf commented on #190
That error comes from out [WaitFor](https://github.com/xenolf/lego/blob/0a681c253df75208a597c4edc564d7b3a78c0526/acme/utils.go#L15) function which means the DNS propagation took too long.

That means the response we sent to the ACME solver was somehow malformed. Did this happen just once or multiple times?

[2016-04-13 08:25] JorritSalverda commented on #190
This happened at least 30 times yesterday, for different subdomains but the same top domains. At some time it succeeded probably because propagation was speedy enough.

After failing dns propagation I guess it only connects with ACME to cancel the request? That might be malformed.

[2016-04-13 10:19] xenolf commented on #190
There is currently no way for us to cancel requests, that's why some people are hitting the limit on pending authorizations. The spec has a way to cancel them, but boulder does not implement them yet.

Would it be possible for you to run a modified binary to get some logging for this issue? I'm primarily interested in the JSON that's being sent which triggers this error. If yes then I'll prepare a

[2016-04-13 10:20] xenolf commented on #189
Is this still happening after #185 was merged?

[2016-04-13 11:01] JorritSalverda commented on #190
Yep that would work for me. I'll have to add more domains soon anyway, so that will probably trigger the failure scenario.

[2016-04-13 11:20] rekby commented on #189
Yes.

[2016-04-14 02:39] xenolf commented on #190
Alright, I didn't know which ARCH/OS you need so I built a couple. Either use these binaries or build one yourself from [this branch](https://github.com/xenolf/lego/tree/tmp-add-json-log). Thanks for helping to debug this! :)

[lego_darwin_amd64.zip](https://github.com/xenolf/lego/files/218287/lego_darwin_amd64.zip)
[lego_linux_amd64.zip](https://github.com/xenolf/lego/files/218290/lego_linux_amd6

[2016-04-14 07:20] rekby commented on #189
I think the problem can be in time of remove authorized token (call webroot provider CleanUp).

I try to switch to other libraries and get same problem until wait for remove token _after_ receive certificate (not right after authorization).

In log I saw about letsencrypt can check token few times.

In your library token removed right after succefully authorization:
http_challenge.go, func (s *htt

[2016-04-14 17:26] webash opened #191 "Receiving a panic runtime error when attempting to renew after expiration"
[code]

If there's any other info I need to provide, please let me know!

[2016-04-14 17:35] xenolf commented on #191
Hey! I'm not entirely sure what could possibly be nil here :smile:
Could you check the file at `.lego/accounts/<acme-server-url>/<your@email.com>/account.json` if the registration property is filled out?

[2016-04-14 17:41] xenolf commented on #189
first domain.com checked ok, but when try to check second variant - www.domain.com request redirected to domain domain.com and letsencrypt check old token - for domain.com, which already removed.

This case is handled by two different authorizations. You get one authorization + token for `domain.com` and another one for `www.domain.com` as both are different entities. Per the ACME spec the token s

[2016-04-14 17:54] rekby commented on #189
Yes, I understand about two different tokens for different domains.

Server get 301 becouse customers website have redirect from unconditional www.domain.com to domain.com in his .htaccess. I can't change customers website or rewrite rules.

I solve problem for me by switch to other library, which give more control (but it's more difficult in use) and change live of tokens for all certificate requ

[2016-04-14 18:00] rekby commented on #188
I have same errors in my usage. It happen from time to time in long series of requests.
I solve the problem by repeat requests. Usually repeat request help.

[2016-04-14 18:27] xenolf commented on #179
Closed via #186

[2016-04-14 18:27] #179 closed

[2016-04-14 18:42] xenolf commented on #189
Thanks :) but I'm still not sure about the issue at hand.
Given we want to validate the domains `www.example.com` and `example.com` where the `www` subdomain redirects to the main domain.

Boulder will try to access `http://www.example.com/.well-known/acme-challenge/123456789www` and is greeted with a 301 redirect to `http://example.com`. Now boulder follows this redirect and tries to access the S

[2016-04-14 19:56] rekby commented on #189
Hmm... yes, you are right...
Ok, I have no any more idea.

May you remove token before letsencrypt check it - similar to race condition? For example:
lego put token
lego request letsencrypt
lego remove token
lensencrypt request token
?

If not - i have no any more ideas about 404 errors of token (while self check work fine).

About subject problem: it can be from 400 bad requests errors too. After

[2016-04-15 00:15] gaillard commented on #188
At least the staging LetsEncrypt is not returning with the content type. But still, all that is being done with the body contents is putting it into an error variable, it is nice if the message is formatted well but in the case where it can't be decoded it should not be lost, that is much worse. So in that case lets just shove it into the error.

[2016-04-15 01:09] #188 closed

[2016-04-15 01:10] xenolf commented on #188
Errors are now added verbatim to the details string when they are not parsed as JSON.

[2016-04-15 01:15] xenolf commented on #189
We specifically check with the ACME server through polling to make sure the challenge status is no longer "pending" (executing) but either "invalid" or "valid". Only when the status is one of these two we remove the token.

It is taking you 2-3 hours to request certificates for all domains?

[2016-04-15 01:26] gaillard commented on #188
awesome, thanks!

[2016-04-15 11:48] webash commented on #191
Yup seems to be! I omitted a bunch of info here (as it seems important! ha!)... but otherwise seems fully populated.

[code]

[2016-04-15 11:52] xenolf commented on #191
Just to be sure, which version of the CLI are you using?

[2016-04-15 12:15] webash commented on #191
I was previously using 0.2.0. I got the error then, so decided I should upgrade to 0.3.0 by dumping the new version over top - but I still receive the error.

[2016-04-15 12:18] xenolf commented on #191
Is the stacktrace any different when using v0.3.0?

[2016-04-15 12:28] webash commented on #191
The above stack trace was from v0.3.0. This was the trace from v0.2.0:

[code]

Which seems weird as it has net/http problems that v0.3.0 doesn't?

[2016-04-15 13:39] JorritSalverda commented on #190
I've tested the supplied binary, if it fails it returns the following error message:

[code]

[2016-04-15 13:41] JorritSalverda commented on #190
And another run fails earlier with

[code]

[2016-04-15 13:43] JorritSalverda commented on #190
And a third one with

[code]

[2016-04-15 14:12] JorritSalverda commented on #190
And yet another one:

[code]

[2016-04-15 17:06] xenolf commented on #190
Hum, none of these errors look like client errors to me. It seems like boulder may have experienced a high load.  The second error may actually come from us sending too many requests (too many certificates). How many certificates are you requesting per run?

[2016-04-15 17:13] xenolf commented on #191
That's just because 0.2.0 used to dump all go routines on panic... 0.3.0 doesn't do that anymore.

I'm trying to reproduce this localy, but so far havn't been successful :worried:

[2016-04-16 00:36] xenolf commented on #191
What OS are you running this on? I'd like to give you a binary with some logging just before the failing line to see what's nil.

You can of course also do this yourself if you have go installed. The logging would need to be just before line 408 in `client.go`. Just log the value of any variable on line 408.

[2016-04-16 09:43] danni opened #192 "Route 53 provider gets confused by private zones"
I have two hosted zones in Route 53 for the same domain, one is public and one is private. lego is trying to set the Route53 verification on the wrong zone so it fails to verify.

[2016-04-16 11:10] LukeHandle commented on #192
Hmm, so when we do the explicit lookup, we are getting 2 returned, but the private appears first? I wonder if we can pass a filter to Amazon to only return public, or if we just need to check how many are returned and if they are public.

[2016-04-16 11:57] danni commented on #192
From what I can determine from the API, there's no filter. You have to post
filter on `.Config.PrivateZone`

On Apr 16 2016, at 9:10 pm, LukeH &lt;notifications@github.com&gt; wrote:

private appears first? I wonder if we can pass a filter to Amazon to only
return public, or if we just need to check how many are returned and if they
are public.

You are receiving this because you authored the thre

[2016-04-17 03:30] janeczku commented on #192
Route 53 is tricky in that regard as it also allows multiple public zones with the same name. In that case we currently may end up provisioning the authorization record to a zone that is not "active" (as in the domain registrar's name server doesn't point to it).

How about letting users pass the Hosted Zone ID when requesting a certificate using Route 53?

[2016-04-17 08:07] JoyceBabu opened #194 "Add to dockerhub registry"
Please create an automated build repository at Dockerhub as it will be much easier to install and use.

Thanks

[2016-04-17 09:38] JoyceBabu commented on #194
The following `Dockerfile` will create a container which is ~ 20MB in size

[code]

[2016-04-17 12:12] JorritSalverda commented on #190
This run requests one certificate for 36 domains. Our weekly (raised) limit per domain is a 1000 certificates per week. I'm not sure what the other limits changed to now that letsencrypt is out of beta, but I would expect an error message from their side indicating that we've hit a limit in that case. It sure did before when we hit the old 5 certificates per domain per week limit.

[2016-04-17 15:39] strothj commented on #194
There is an official Go docker container based on Alpine which can be used as a base instead of installing the go package using apk.

[2016-04-17 18:16] JoyceBabu commented on #194
The above `Dockerfile` is a modification of the official one.

It took me over 10 minutes to build the binary, and it required downloading packages several megabytes in size. If the package is available in DockerHub, it will be only 20MB in size and it would be much more easier for a user to get started.

IMHO since adding the automated build is a one time job its benefits far outweighs the effort

[2016-04-18 10:50] webash commented on #191
Woops sorry, haven't configured email alerts for comments and didn't check for an update!

I'm running it on Ubuntu 14.04.4 LT x64 in an Azure VM. I don't have go installed and would prefer not to on this particular machine, so are you able to fire the modified binary my way?

[2016-04-19 00:51] xenolf commented on #194
We do have a dockerfile in the repo already. From what I can tell it's nearly exactly the same one you posted?
Is the automation possible through our travis builds?

[2016-04-19 01:00] xenolf commented on #191
Sure :)

Here you go:
[lego.zip](https://github.com/xenolf/lego/files/225050/lego.zip)

[2016-04-19 01:05] xenolf commented on #190
I'm sorry. The binary I supplied actually had a bug where it swallowed the error text of the 429 error.
I attached a fixed binary below. If you need another OS/ARCH let me know.
[lego_linux_amd64.zip](https://github.com/xenolf/lego/files/225054/lego_linux_amd64.zip)

[2016-04-19 05:00] JoyceBabu commented on #194
I have modified the official Dockerfile and made two changes

- Each `RUN` instruction creates an additional layer in the docker image. Adding files in one `RUN` instruction and deleting it in another `RUN` instruction will not reduce the size of the image. I used a single `RUN` command so that all the package/file removal happens in the same command in which the package installation happens, so t

[2016-04-19 07:07] LukeHandle commented on #192
Ahh, allowing ID is a sure fire way for success. Interesting point that there could be multiple identically named zones. How much extra work if we wanted to establish the correct zone though. (also, heads up, not currently working on this)

[2016-04-19 07:50] shurcooL opened #195 "What's the relationship to github.com/google/goacme?"
Hi, I just wanted to ask this question to learn.

What's the relationship of the ACME library in this repository to the one in https://github.com/google/goacme? I've learned about recently from https://github.com/golang/crypto/commit/1777f3ba8c1fed80fcaec3317e3aaa4f627764d2.

Thanks!

[2016-04-19 08:07] xenolf commented on #195
Not related at all.

[2016-04-19 08:08] xenolf commented on #194
I created an automatic build at https://hub.docker.com/r/xenolf/lego/
So this should get updated when we next push to master.

[2016-04-19 08:09] shurcooL commented on #195
Do the two libraries do different things?

[2016-04-19 08:14] JoyceBabu commented on #194
Thank you.

I can see that there is no current build. Can you please manually trigger a build or accept my pull request to auto trigger a build?

[2016-04-19 08:15] xenolf commented on #195
Not that I'm aware of. Google chose to reimplement the ACME spec themselves.
The only difference that I am aware of is that goacme does only implement HTTP01.

[2016-04-19 08:25] xenolf commented on #194
Should have built now :)
Please close this issue if you feel like it is solved.

[2016-04-19 08:28] JoyceBabu commented on #194
Thank you 😀
[code]

[2016-04-19 08:28] #194 closed

[2016-04-19 08:52] shurcooL commented on #195
I see, thanks.

I'll close this since my question was answered.

But I do wonder, for someone looking for an ACME library, how they should choose between these two seemingly similar libraries...

[2016-04-19 08:52] #195 closed

[2016-04-19 09:20] xenolf commented on #195
We did [offer][1] [to][2] join efforts, but were never approached from anyone. It is very unfortunate that things turned out this way.

[1]: https://twitter.com/mholt6/status/667507533905420288
[2]: https://twitter.com/mholt6/status/656343614109278208

[2016-04-19 13:00] jfindley opened #197 "Account creation with EC384 key fails"
If I try to use an EC384 (P384) account key, registration fails, with the following error:
[code]

I'm generating the account key like so:
[code]

[2016-04-19 13:12] xenolf commented on #197
The key returned from `GetPrivateKey()` should be a `crypto.PrivateKey`. In your case you should directly return the key in `priv` and not marshal it.

[2016-04-19 13:14] jfindley commented on #197
Ah! that fixed it thanks.  Sorry for the noise.

[2016-04-19 13:14] #197 closed

[2016-04-19 14:49] webash commented on #191
Thanks! Here's the output. I'm not sure what stuff is sensitive so I've done my best not to obscure too much without giving too much away:

[code]

[2016-04-19 21:24] xenolf commented on #191
So the offending part seems to be the registration altho the file you posted above looks perfectly fine.
I was able to encounter the exact same stack trace by forging an `account.json` with a `registration` property which was named wrong. Could you please double check that it really loads the right `account.json` and if the content is valid JSON?

[2016-04-20 09:24] webash commented on #191
How could I be sure it's loading the right account.json? I'll extract the file and ensure all the line endings are consistent etc, but the dump I provided above looks fine.

[2016-04-20 14:31] codefx9 opened #198 "Production stability"
Hi,
The readme says "This is a work in progress. Please do NOT run this on a production server and please report any bugs you find!" I understand that let's encrypt is very new and all that. I am just curious if there are any known security or design or api stability issues to avoid using this library in production code.

Thanks a lot for this great library.

[2016-04-20 14:58] mholt commented on #198
It's pretty good for use in production; the API may change since it's not 1.0 yet, but I definitely don't know of any security flaws in lego that would render it unsafe. I have been using it in production for months without issues. lego is better at handling a lot of the edge cases than other acme clients, considering it supports all 3 challenge types.

[2016-04-20 15:21] codefx9 commented on #198
Thanks @mholt . 👍

[2016-04-20 15:21] #198 closed

[2016-04-20 15:29] mholt commented on #198
That said, if something *does* break in production, you can't say we didn't tell ya so. :wink: Mostly just so people are aware that this isn't a finished product yet.

[2016-04-20 15:59] lenovouser commented on #173
Yeah, this would be very helpful if you have a lot of domains.

[2016-04-20 20:46] CalebTodd opened #199 "Dyn Provider returns 404 for * subdomains"
I use a two A records for my domain. One is the standard TLD and another is a ' * ' to catch any subdomain. I then handle the subdomain inside of nginx.

When trying to generate a certificate for www -- or any other subdomain -- which does not have an explicit record, I receive a 404 HTTP status code.

I'm hoping the code can be written so that it validates either the named subdomain OR a ' * ' re

[2016-04-20 21:49] webash commented on #191
the JSON file is valid :(

[2016-04-20 22:37] webash commented on #191
Ok plot thickens...

Having had the server's FS open in an SFTP client I could properly see the folder hierarchy and noticed the following:
.lego/
--accounts/
----<acme-url>/
------<email>
--------./keys/
----------<email>.key
.lego/
--<acme-url>/
----<email>/
------account.json
------keys/
--------<email>.key

I assume only one of those is right?

[2016-04-20 22:42] webash commented on #191
Ugh... moving the data to the ./lego/accounts/ instead of sitting straight in .lego/ works - I successfully have my new cert now...

[2016-04-20 22:51] xenolf commented on #191
Ugh... I wonder how it ended up there? Did you use a like early early early version of lego back last year?

[2016-04-20 23:20] webash commented on #191
Nope not as far as I know. Maybe I butchered my backup folder copy at some point... but when I first ran the renew command and received the error from 0.2.0 it would've been exactly as I left it after I first got my cert.

[2016-04-20 23:52] xenolf commented on #191
Well. I will make sure that the renew command displays an error if it was unable to load the file properly.

[2016-04-21 11:22] mthoretton commented on #173
Just another comment to add you some additional pressure about developing this great functionality ;) Btw lego works fine with route53! Thanks

[2016-04-21 13:27] webash commented on #191
Ok great. Thanks for your help... I'm really unsure how this happened. Feel free to close this issue :)

[2016-04-21 21:44] janeczku commented on #199
/cc @aebruno

[2016-04-21 23:53] #191 closed

[2016-04-22 00:03] #192 closed

[2016-04-22 15:19] aebruno commented on #199
@CalebTodd I'm not sure I understand your use case. Can you provide some more details? I don't believe the ACME protocol supports wildcard certs (at least last time I checked).

[2016-04-22 18:54] CalebTodd commented on #199
My application handles the content displayed for different subdomains. These correlate with users of the application. A power user can generate new users at-will within the application -- e.g. new subdomains. So, rather than create DNS entries for every possible subdomain, I create a standard A record and a secondary record (A-record but a CNAME would probably work too) which redirects all subdoma

[2016-04-24 07:05] codefx9 opened #202 "How do I renew SAN certificates?"
Hi,
I see that during renew operation I can only provide a single domain name. How do I renew a SAN certificate?

Thanks.

[2016-04-24 12:24] xenolf commented on #202
I guess you are talking about the CLI task `Renew`? The domain needed here is the domain in the `CommonName` property of the certificate. Lego will use this to find the right certificate on disk and load it. Then it uses the `DNSNames` property to enumerate all domains and renews each of them.

This happens through the `CertificateResource` that get's passed to the `RenewCertificate` function. The

[2016-04-24 14:03] codefx9 commented on #202
I am guessing it is using the CertURL to get all the information it needs. Am I right? Thanks.

[2016-04-24 14:07] xenolf commented on #202
No it does not need to call an API for that. All information needed for renewal is readily available in the cert itself and it's metadata file.

[2016-04-24 15:32] codefx9 commented on #202
Thanks.

[2016-04-24 15:32] #202 closed

[2016-04-25 17:57] xenolf commented on #173
I've started to work on this (for all challenges) locally and will push once I have something to show ;)

[2016-04-25 17:58] LukeHandle commented on #199
Hey there @CalebTodd, can you confirm what your "zone" would be?

[Here](https://github.com/xenolf/lego/blob/master/providers/dns/dyn/dyn.go#L189) we are assuming that the "zone" is actually the domain passed to the `Present()` function (probably a bit optimistic?). We may benefit from getting the "auth zone" with `FindZoneByFqdn()` if that matches what you would expect here?

We do this elsewhere

[2016-04-25 21:48] CalebTodd commented on #199
The Zone for my case would be the second-level domain (SLD) -- foo.com -- and the node would be the third-level domain -- www. I think in call cases with Dyn, the zone is the SLD. So, if we can parse out the SLD for "zone", we should be good to pass in the full domain name as FQDN.

[2016-04-25 22:45] LukeHandle commented on #199
What I don't quite understand is how this is working at the moment? Have you tested after adding a record for www.foo.com and attempting to get a cert for it? From my understanding of their API, it still shouldn't work as we are using a sub-domain as the zone name?

We should be establishing the correct zone to request for and then passing it the FQDN of the record to add. In almost every other pr

[2016-04-26 05:02] CalebTodd commented on #199
You may be correct that it doesn't add correctly. I just added a WWW node (cname and A) and still get the 404.

[2016-04-26 10:57] lenovouser opened #203 "Lego still tries to use disabled solvers"
I am not sure whether `lego` really tries to use them but I want to note that it still displays this in the output:

[code]

even when I have them disabled with the `exclude` flag like this:

[code]

So to me it seems like it does try to use `http-01` and `tls-sni-01`. I think that this and the fact that `lego` sets the [dns challenge record](https://github.com/xenolf/lego/issues/173) every time n

[2016-04-26 11:44] xenolf commented on #203
No, lego is not actively trying to solve a challenge you excluded via the `--exclude` flag.
The output you are seeing is simply stating the fact that lego received a challenge from the server it is not able to solve as you excluded the solver from the list.
We are receiving a list of challenges from the server and are iterating it. Whenever lego encounters a challenge type and has no matching solv

[2016-04-26 11:50] xenolf commented on #184
I'm going to close this. If you have any additional questions, please feel free to reopen the issue or create a new one.

[2016-04-26 11:50] #184 closed

[2016-04-26 13:33] lenovouser commented on #203
@xenolf alright, yeah - as I said I wasn't sure. Thanks for the clarification!

[2016-04-26 13:33] #203 closed

[2016-04-26 23:16] aebruno commented on #199
Looks like this is a bug. I can confirm this is broken for me as well. I had incorrectly assumed, as @LukeHandle  mentioned the domain passed to the `Present()` function is the "zone". I had previously only tested using a tld. It appears the Dyn API doesn't like this REST call:

    PUT /TXTRecord/example.com/_acme-challenge.www.example.com./

However, works perfectly fine with:

    PUT /TXTRecor

[2016-04-27 02:50] aebruno commented on #199
@LukeHandle thanks for the pointer to `FindZoneByFqdn()`. I submitted a pull request which fixes the Present and Cleanup functions to use the correct zone. Tested this using both a tld (example.com) as well as (www.example.com) and it seems to be working for me. @CalebTodd I'm not sure this completely fixes your original issue but the Dyn provider should work correctly now for subdomains.

[2016-04-27 11:07] #199 closed

[2016-04-27 11:08] xenolf commented on #199
@CalebTodd feel free to reopen this if the PR does not fix your problem :)

[2016-04-27 20:56] xi2 commented on #173
Thank you for working on this. I will be happy to test and/or update the gandi provider as required. :)

[2016-05-03 02:47] Flowman commented on #180
How is it going with this implementation, anything I can do to help?

[2016-05-11 01:13] gaillard commented on #60
Is there a way to use this for an automated process of what an admin _would_ do with it?

[2016-05-11 23:46] xenolf commented on #60
@gaillard Why not get a SAN cert for the 20 subdomains and then distribute them across your machines?

[2016-05-12 16:27] buckett opened #205 "Install fails with go 1.4.1"
I attempted to install on an old version of go and got:
[code]
Upgrading to 1.6.2 resulted in a good install. Reporting so that if nothing else someone searching for this error sees that a simple upgrade should fix it.

[2016-05-12 17:05] buckett opened #206 "With `lego ... run` DEPRECATED Action signature."
I was attempting to use the `lego ... --dns run` command and after what looked like success:

    2016/05/12 17:56:04 [INFO][my.domain] Server responded with a certificate.
    DEPRECATED Action signature.  Must be `cli.ActionFunc`.  This is an error in the application.  Please contact the distributor of this application if this is not you.  See https://github.com/codegangsta/cli/blob/master/CHANG

[2016-05-12 17:16] lenovouser commented on #121
@mholt any progress? :3

[2016-05-12 17:46] xenolf commented on #206
Thanks for reporting this.
This is indeed caused by the CLI library version. I will fix this in master.

[2016-05-12 17:53] #206 closed

[2016-05-12 18:00] mholt commented on #121
No, will work on it later this year. First priority is some Caddy stuff...

[2016-05-12 18:03] xenolf commented on #205
Thank you for reporting :)
I've decided to only support the last two releases of go because it is kinda dictated from google libraries like you just experienced. For anyone hitting this issue, please look at the versions in our CI, these are the ones we currently support.

[2016-05-12 18:03] #205 closed

[2016-05-12 18:04] xenolf commented on #121
@lenovouser We might get a config file for lego after all. The new CLI library the next version will use does have this for free.

[2016-05-12 18:09] xenolf commented on #190
I will close this for now.
If you are still experiencing this problem or have new informations then please feel free to re-open the issue.

[2016-05-12 18:09] #190 closed

[2016-05-12 18:09] xenolf commented on #189
I will close this for now.
Feel free to re-open the issue if you feel like there is anything else to add.

[2016-05-12 18:09] #189 closed

[2016-05-12 18:10] #129 closed

[2016-05-12 18:10] xenolf commented on #129
Will remain as is for now.

[2016-05-12 18:12] xenolf commented on #88
There is not really something we can do in a broad sense. We will handle the issues if any in relation to this on a case-by-case basis.

[2016-05-12 18:12] #88 closed

[2016-05-13 04:46] mizutechvoip opened #207 "http timeout"
Running this command:

I get this response:

This is happening only on our Brazil server (Windows Server 2008 R2, lego.exe enabled on firewall, both 80 and 443 ports available for it).
The same is working fine on our UK server.
If I open the "https://acme-v01.api.letsencrypt.org/directory" URL from Firefox on the same Brazil server, i get the answer in around 10 seconds. So from Brazil the 10 seco

[2016-05-13 07:55] buckett commented on #206
Thanks for the quick fix and I can confirm that with an update of lego this morning (`go get -u github.com/xenolf/lego`) it all works fine.

[2016-05-13 12:53] matejc opened #208 "support for rackspace dns"
(when) will there be support for rackspace dns?

[2016-05-14 01:54] LukeHandle commented on #208
If you're feeling daring, I wrote an initial start here: https://github.com/LukeHandle/lego/tree/patch-dns-rackspace?files=1

It should work, but I got distracted before writing proper testing. I'm halfway on a local branch with httptest on the auth and dns endpoints. A few niggles I needed to work out though.

[2016-05-14 21:00] lenovouser opened #210 "Could not obtain certificates"
I am getting this error

[code]

using this command:

[code]

[2016-05-15 09:26] vitr opened #211 "issue on windows x64 - not a valid key=value pair (missing equal-sign)"
[code]
the exact same command works OK on linux

[2016-05-15 19:08] xenolf commented on #210
Thanks for reporting this issue. Did this only happen once or multiple times?

[2016-05-15 19:10] xenolf commented on #207
I guess making the timeout configurable via a CLI option would be the most sensible option here. I'm sure that if we raise the default timeout, somebody else will still hit it 😄

[2016-05-15 19:14] xenolf commented on #211
Thank you for your bug report!
Is it possible that you had a space in one of your environment variables in windows?

[2016-05-15 22:19] mholt commented on #207
Hmmm yeah I feel like the permanent solution to this is to fix your network connection (you or them, depending where the problem is)

[2016-05-16 00:32] vitr commented on #211
Thanks for the quick response!
I see what you mean, it could be not space but \r, I just double checked everything again and it worked, got the certificate on windows as well.
Sorry for the false alarm.

[2016-05-16 00:32] #211 closed

[2016-05-16 04:33] mizutechvoip commented on #207
This is a server with 100 mbits internet connection used for VoIP with hundred of simultaneous calls. I don't think that the problem is with the internet connection. If you don't wish to increase the timeout so much, then my proposal:
-increase only a little bit the default (make it 14 seconds and it will be fine for the whole South America by default)
-and make it configurable via a CLI option

[2016-05-16 08:51] codefx9 opened #212 "Time limit exceeded"
I am trying to use DNS challenge with Google Cloud DNS servers from cli `run` command. I keep getting the following error (tried 3-4 times):

I am using `.computer` TLD. I was able to successfully obtain SAN cert with same command for `.io` TLD.

[2016-05-16 13:56] codefx9 commented on #212
I increased the time out to 6 mins from 60 secs. Now, I am getting the following DNS errors even for `.io` TLD.

[2016-05-17 14:13] aaronb-cg commented on #173
I would like to see this also.
Lego is working great for us, just takes a long time with the large number of domains we're processing.

[2016-05-17 21:43] lenovouser commented on #210
It happens every time I try to request new certificates. The `1...94` mean that there are 94 domains in total, didn't know if that was clear from the example. I could reproduce it twice, now I am getting this again:

[code]

which I had a few weeks ago but [from a different cause](https://github.com/xenolf/lego/issues/167#issuecomment-202986192), but I didn't force-quit it this time. It just exite

[2016-05-17 22:08] xenolf commented on #212
Which timeout did you increase in particular?

[2016-05-17 22:09] xenolf commented on #210
I'll try to reproduce again with 1.5.1, was using 1.6.2 on the testing box I'm using.

[2016-05-17 22:19] lenovouser commented on #210
@xenolf alright. I just remembered that I can use the staging server in case you want me to test something. So no need for waiting until the pending certificates get deleted.

[2016-05-18 03:48] codefx9 commented on #212
I increased the timeout inside DNS challenge file. https://github.com/xenolf/lego/blob/master/acme/dns_challenge.go#L79

[2016-05-19 16:34] xenolf commented on #210
Turns out the error is coming from the cloudflare API. Could you try again with the change to the cloudflare provider I just pushed? It improves the error reporting in the provider as I'm guessing the error you are getting isn't the only one reported.

[2016-05-19 16:38] xenolf commented on #212
You said you are using google cloud DNS but we are asking the AWS DNS servers for your zone. Could you give me a bit more information about your DNS setup? It seems like we are resolving to the wrong authoritative DNS server for your domains.

[2016-05-19 16:53] #207 closed

[2016-05-19 16:54] xenolf commented on #207
You are now able to supply a `--http-timeout` flag to set the timeout in seconds.

[2016-05-19 16:55] lenovouser commented on #210
@xenolf I did with the staging environment:

[code]

Does that help?

[2016-05-19 16:58] xenolf commented on #210
Any chance you have a space or other unfitting character in your `CLOUDFLARE_EMAIL` env variable?

[2016-05-19 17:02] lenovouser commented on #210
@xenolf not any that I am aware of. Let me try to run `dos2unix` on the script.

[2016-05-19 17:08] lenovouser commented on #210
@xenolf Yep, that did it. I don't know what exactly was wrong in the script now. I am sorry for creating this issue, I didn't look to me like that the

[code]

was an error on my side. Anyway, it seems like that there was a bad character in the bash script which I fixed by using `dos2unix <file>`, just for people who run into the same issue in the future.

[2016-05-19 17:10] #210 closed

[2016-05-19 17:11] xenolf commented on #210
No problem, glad we got it resolved. :)
I hope the error output is a bit more telling now.

[2016-05-19 17:41] lenovouser commented on #210
@xenolf Yep, `Invalid format for X-Auth-Email header` is definitely more telling - thanks!

[2016-05-22 15:42] codefx9 commented on #212
I purchased by domains on Namecheap and changed DNS servers to Google Cloud DNS. Everything in pretty much standard setup as far as DNS goes.

[2016-05-25 04:45] zealic opened #214 "Add dns-timeout support"
I am trying to use DNS challenge with Route53 from cli run command.

But a great chance to failed with following error:

[code]

Because of network latency and the [GFW](https://en.wikipedia.org/wiki/Great_Firewall) reason, dns request is very slow and unstable.
So we need apply dns timeout support for dns-challenges.

[2016-05-27 11:44] xenolf commented on #214
Thank you for bringing this up and fixing it right away! I hope this improves things for other people as well.
Closed via #215

[2016-05-27 11:44] #214 closed

[2016-05-27 11:45] xenolf commented on #212
Would you be able to share the domain name with me? You can send me a private message on gitter or something.

[2016-05-30 01:29] benpye opened #216 "Suggestion: renew else run mode"
It would be very useful to have the ability to renew if possible, otherwise issue the initial certificate. This would be useful when used with Docker as it would allow a container to create and renew certificates on a cron job easily. Additionally, when run with the `--days` argument it'd be helpful for there to be some way to clearly tell if the certificate has actually been renewed.

[2016-05-30 03:43] pjebs opened #217 "Staging + Renewal"
I used your program (not the code) to create a SSL certificate exactly 3 months ago using this command:
`./lego --email="pj@XXX.com" --domains="abc.CCC.com" run`

It worked well.
Now I am receiving emails on a regular basis from letsencrypt saying I must renew certificate.

My questions:

1. Do I just run that exact command again to renew? Does that mean the renewal process is **exactly** the same

[2016-05-30 13:28] xenolf commented on #217
Hello there!

1) You run the same command save for the "run" at the end. This is replaced by "renew". Also if you issued a SAN certificate you only need to pass in the domain listed as "CommonName" in your certificate using the `--domains` switch. Other domains are copied from the existing certificate.

2) The last change to the standard endpoint was on Dec 03 2015 where we switched from staging t

[2016-05-30 13:50] xenolf commented on #216
Hey there!

The issue here is that renewal is always possible as long as you do not run into rate limits.
By "issue the initial certificate" are you talking about re-downloading the initial certificate?

What would you suggest?

[2016-05-30 15:52] benpye commented on #216
Renewal doesn't take place if executed with the `--days` argument right, that's the situation in which I would see this being useful. This is something that letsencrypt.sh .

The only way I can think to get a way to tell if it has been renewed would be to use the return code for the application.

[2016-05-31 02:47] pjebs commented on #217
I now strongly believe it is a bug in letsencrypt's end.

The reasons:
1) The certificate was definitely working and used by lots of people. Based on what you told me, it was a live certificate. Plus I did not specify the `--server=https://acme-staging.api.letsencrypt.org/directory` flag.
2) The emails I keep getting keep saying it was a staging certificate.

 Either way, it's now renewed. Thanks

[2016-05-31 02:48] #217 closed

[2016-05-31 05:41] jmhodges opened #218 "googlecloud dns provider errors because it already made the _acme-challenge domain"
A previous run of lego that I Ctrl-C'ed is causing a later run to fail.

When run with the googlecloud dns provider, `googlecloud.DNSProvider.Present` fails because the `Changes.Create` call returns a googleapi.Error with status code 409:

[code]

Not sure what the model of behavior for dns providers here is, but it seems like lego could clean this up for us.

[2016-05-31 10:29] xenolf commented on #218
Hello and thanks for reporting this!

I agree that we could try to remove the entry if there is an existing one for the domain we are trying to validate. An issue to consider is that there could be another process (on the same or a different host) trying to validate the same domain at the same time.

[2016-05-31 20:14] jmhodges commented on #218
Hm, well, now that I'm thinking about it, I'd be surprised if Google didn't allow multiple TXT records for that domain, so maybe there's a way to make that happen?

Maybe this error is because something else other than the domain and record type is non-unique. Maybe there's a TXT record for that domain with the same value? If that's the case, we could just allow 409 to mean "we got it up there".

[2016-05-31 20:15] jmhodges commented on #218
(Let's Encrypt should check multiple TXT records with the same domain. I helped write that code but it's been a few months since I worked on the codebase.)

[2016-06-02 00:17] xenolf commented on #218
You are right, it would seem odd to only allow one TXT record for a certain domain. I looked over the Cloud DNS docs but could not find a mention of any limits of this kind and I can't test it myself as I don't have a domain there.
Would it be possible for you to try it with the CLI tool google offers?

[2016-06-02 00:23] xenolf commented on #216
Well. Renewal only takes place if the number of days to the expiration day is less than the number supplied via `--days`.
The return code has been brought up for this kind of functionality before, but I was not in favor of it because my understanding of return codes is that a non-zero return code indicates failure. In the event of not renewing the certificate when using `--days` is not an error. B

[2016-06-02 00:34] mholt commented on #216
Maybe exit code 0 = renewed successfully, 1 = no renewal but no error either, and >= 2 is an error...

Although that's less convenient than just a boolean 'did or did not error'.

[2016-06-02 07:06] LukeHandle commented on #216
If error codes are the route taken, avoiding the ["standardzed"](http://tldp.org/LDP/abs/html/exitcodes.html#EXITCODESREF)  exit/error codes would probably be a good idea.

What's about a status message to stdout (does current verbose log go to stderr?)? If needs be, a flag that shows no output apart from the status message.

[2016-06-02 23:45] xenolf commented on #216
Yeah. I was more thinking something like 0 for normal execution and 3 if something changed.

[2016-06-03 11:46] totallyunknown opened #219 "Make resolver configurable"
In networks with limited network connectivity or restricted connectivity it's sometimes not possible to reach the Google DNS server.

[code]

I would be nice, to have a command line option to change the default resolver to other nameservers:

[code]

[2016-06-03 13:08] JorritSalverda opened #220 "Time limit exceeded and authentication sessions left open"
When generating certificates with a lot of domains this most of the time fails with a "Time limit exceeded" error. Which isn't too surprising seeing that it takes more than 45 minutes for 36 domains to be validated via the DNS challenge.

What seems to happen as well because of this - but I don't have any proof for that - is that sessions are left open at LetsEncrypt resulting in "Too many current

[2016-06-03 17:40] jsha opened #221 "Add `--force-renewal` for run and renew commands"
Hi! I just tried lego recently, and I like it a lot. Small, simple fast - nice!

It looks like each time someone uses the `run` or `renew` commands, lego will attempt to get an authorization and issue a certificate, regardless of already-issued certificates. Is that accurate? If so, it would be nice for lego to check its local list of issued certificates, and early-exit if there's an applicable ce

[2016-06-05 00:07] xenolf commented on #220
Hey! I'm sorry this is causing such problems for you :worried:
The DNS checks we do to ensure the domain is resolvable have a timeout per authorization. This means the default timeout of 60 seconds is per domain. It seems like cloudflare is getting slower to roll out the changes the more domains you request.
In current master we have a new switch which allows you to specify a custom DNS timeout on

[2016-06-05 00:08] xenolf commented on #219
Hello and thanks for the suggestion. I will look into implementing this when I get some time on my hands. The switch would probably end up being `--dns-resolver`.

[2016-06-05 00:48] xenolf commented on #221
Hey and thank you for trying lego :)

Yes, lego does indeed create a new authz per issue attempt. A flag to only renew at a certain amount of days left on the certificate exists with the `--days` flag on renew but this is not the default. I agree that the proposed default sounds like a good one. I will look into implementing it in this or another way.

I've previously looked into a way to reuse au

[2016-06-09 19:09] sn0bored opened #225 "undefined: acme.TLSSNI01ChallengeCertDomain"
I am working on a project using https://github.com/rsc/letsencrypt and when I run

`go get rsc.io/letsencrypt`

The output I get is:
`# rsc.io/letsencrypt`
`../../../rsc.io/letsencrypt/lets.go:703: undefined: acme.TLSSNI01ChallengeCertDomain`
`../../../rsc.io/letsencrypt/lets.go:716: undefined: acme.TLSSNI01ChallengeCertDomain`

In an attempt to isolate the issue I created a project using only the

[2016-06-09 19:30] xenolf commented on #225
Hey and thanks for submitting the issue :)

What version of go do you have installed? The package rsc/letsencrypt uses vendoring to pin it's dependencies to a certain version and it seems like your installation pulled the latest source from here and used that instead of the vendored version.
The latest master in this repository had the symbol you are referring to renamed.

[2016-06-09 19:32] sn0bored commented on #225
Wow thanks for the quick response

`go version go1.5.1 darwin/amd64`

[2016-06-09 19:44] xenolf commented on #225
IIRC for go 1.5 you need to set the environment variable `GO15VENDOREXPERIMENT=1` before running the go command. As of go 1.6 you no longer need to do that.

[2016-06-09 19:57] sn0bored commented on #225
You rock!  Updated to 1.6.2 and that fixed it.

Danke!

[2016-06-09 19:57] #225 closed

[2016-06-09 21:07] xenolf commented on #225
Glad you got it working! :)

[2016-06-10 08:17] kop opened #226 "DNS provider for Google Cloud should accept credentials"
The current implementation of the Google Cloud DNS provider only works if a node, where lego is deployed, has node metadata available. However, that's not always possible. So it should also accept `CLIENT_ID` and `CLIENT_SECRET` pair for such cases.

[2016-06-11 15:19] komuW opened #228 "certificate for multiple domains not working"
Here's some system info:
uname -ra
Linux ubuntu 3.13.0-86-generic #130-Ubuntu SMP Mon Apr 18 18:27:15 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

/usr/local/bin/lego/lego --version
lego version v0.3.1-0-g96a2477

The problem is that when requesting for certificates for multiple domains(subdomains), only the first one in the list gets granted a certificate. I've tried with both production letsencrypt

[2016-06-12 00:40] xenolf commented on #228
Hey!

When supplying multiple domains to the `--domains` switch, lego creates a SAN (Subject Alternate Names) certificate which results in only one certificate but this certificate is valid for all domains you entered. The first domain in your list is added as the "CommonName" of the certificate and all other domains are added as "DNSNames" to the SAN extension inside of your certificate.

[2016-06-12 06:12] doherty opened #229 "account.json has executable bit set"
This file should be chmod 600, not 700.

[2016-06-12 06:24] doherty commented on #165
FWIW, I found it very easy to use [`gb`](https://getgb.io/) to vendor dependencies for this repo by creating an empty repo, adding this repo as a submodule in `src/github.com/xenolf/lego` and running `gb vendor ...` See https://github.com/doherty/lego-vendored

[2016-06-13 01:01] #229 closed

[2016-06-13 04:17] komuW commented on #228
@xenolf Thanks!

[2016-06-13 04:17] #228 closed

[2016-06-14 08:11] JorritSalverda commented on #220
I've tested this with a value of 300 seconds and now it works fine. It's quite a high value of course, but your work on testing the challenges in parallel will make this more manageable.

[2016-06-14 08:11] #220 closed

[2016-06-14 11:15] xenolf commented on #212
I have not heard back from you in quite some time. Is this issue still relevant?

[2016-06-15 20:56] clandmeter opened #232 "DEPRECATED Action signature. Must be `cli.ActionFunc`"
When running lego cli, im getting the following msg:

DEPRECATED Action signature.  Must be `cli.ActionFunc`.  This is an error in the application.  Please contact the distributor of this application if this is not you.  See https://github.com/codegangsta/cli/blob/master/CHANGELOG.md#deprecated-cli-app-action-signature

[2016-06-15 23:04] xenolf commented on #232
Thanks for reporting!

Did you compile yourself or did you use a pre-built binary?
This seems to be a duplicate of #206 and I already changed the signatures of the CLI handlers back then.

[2016-06-16 20:00] clandmeter commented on #232
I maintain [lego](http://git.alpinelinux.org/cgit/aports/tree/testing/lego/APKBUILD) for Alpine Linux which is musl libc based, so we have to compile it our self.
Strange, seems my search magic has failed me, I applied the patch and it works OK now.

Thanks!

[2016-06-17 07:06] xenolf commented on #232
Thank you for your work on maintaining for alpine, much appreciated :D
Glad you got it sorted :) I'm going to close this, feel free to re-open this issue if there are further questions or problems.

[2016-06-17 20:54] #232 closed

[2016-06-24 19:43] kalbasit opened #236 "any plans for etcd as storage?"
I have a use case where etcd storage would make more sense (one service deployed on a Kubernetes cluster), is there any plans for an etcd storage?

[2016-06-24 19:57] mholt commented on #236
I can't speak for @xenolf but IMO that's a bit out of the scope of this project; the CLI is meant to be a simple tool to use the acme package. But I do know there are at least one or two importers of the acme package that will support etcd.

[2016-06-26 03:31] jauderho commented on #216
For me, "renew else run" would mean that I could combine both actions into one script.

If cert exist & < 30 days, then renew.
If cert does not exist, go through the new cert creation process

Hope that helps. Maybe call it "lego go" =)

[2016-06-26 04:23] kalbasit commented on #236
@mholt that's good enough, care to share links to those packages? Thanks.

[2016-06-26 05:18] mholt commented on #236
This isn't terribly helpful, I know, but one is a future plugin for Caddy, another is proprietary.

[2016-06-27 04:06] kalbasit commented on #236
@mholt oh I see, thanks anyway. I will write a new library with a binary as well using the acme library here.

[2016-06-28 05:27] kalbasit commented on #236
I'm working on https://github.com/kalbasit/lego-etcd (it already works via CLI) and I am almost done creating the self-managed service (which does an etcd-backed locking to ensure only one process is creating or renewing the certificate). See kalbasit/lego-etcd#2. Still, a lot to do but I should have the first version of my proprietary server deployed tomorrow.

[2016-06-29 06:46] francisbrosnan opened #239 "x509: certificate signed by unknown authority"
Hi folks,

We have been using lego without any problem (release v0.3.1) but now the client reports following error:

2016/06/29 08:43:10 Could not create client: get directory at 'https://acme-v01.api.letsencrypt.org/directory': failed to get "https://acme-v01.api.letsencrypt.org/directory": Get https://acme-v01.api.letsencrypt.org/directory: x509: certificate signed by unknown authority

Is it th

[2016-06-29 13:02] mholt commented on #239
Strange! Looks like your connection was being MITM'ed...

[2016-06-29 13:27] francisbrosnan commented on #239
Uhmn.. If I run wget over the url I get this:

[code]

[2016-06-29 13:30] mholt commented on #239
^ That's not good. What kind of network are you on? Corporate? University? Comcast? All are terrible. :smile:

[2016-06-29 13:31] francisbrosnan commented on #239
With your hint, I believe this has to do with openssl/libssl and some sort of system configuration where default certificate chains are not trusted...I'm checking this...

[2016-06-29 13:31] xenolf commented on #239
Could you show the certificate you are getting when trying to connect to the server (f.e. `curl -iv ...)`?

[2016-06-29 13:32] francisbrosnan commented on #239
Sure, It's the same as the one presented by other systems working without any issue:

[code]

[2016-06-29 13:35] xenolf commented on #236
Thats looking good :)
As @mholt said, etcd support inside of lego is a bit outside of it's intended scope. Would you want to store certificates inside of etcd or the configuration?

[2016-06-29 13:37] francisbrosnan commented on #239
Fixed!

Finally, for some reason, this debian/wheezy system didn't have accepted the set of default certificates that comes from ca-certificates package. If someone hits this error, just run:

`>> dpkg-reconfigure ca-certificates
`
...and accept trusting those presented. After that, re-running lego again works as expected.

Thanks for your time, hints and support,
Best Regards,

[2016-06-29 13:37] #239 closed

[2016-06-29 17:15] kalbasit commented on #236
@xenolf it's for storing the certificates inside of etcd. On a kubernetes cluster, this makes more sense than a filesystem, as it's shared between the entire cluster with strong consistency. I'll close this for now, but it would be interesting to make it possible to plugin different storage adapters, perhaps through an interface?

[2016-06-29 17:15] #236 closed

[2016-07-04 13:57] md2k opened #240 "CSR Question"
While CSR option is nice to use, i found that no matter what all my certificates issues with default Let's Encrypt fields and any data in CSR (except common name and alternatesubject) is omitted.
This is limitation of Lego or it comes from LetsEncrypt, because in their documentation for CSR generation example it is clearly state that it is possible to add standard Subject data as country, company

[2016-07-04 14:13] md2k commented on #240
nvm, found that this done by LE.

[2016-07-04 14:13] #240 closed

[2016-07-05 23:44] steadicat opened #241 "Time limit exceeded / did not return the expected TXT record"
This is similar to #212, but slightly different. I'm using the manual DNS challenge with Google Domains. I get:

[code]
Yet if I query the DNS server directly, I get the right response:

[code]

I tried this a dozen times, even bumping up the DNS timeout to 5 minutes and the TXT record TTL down to 1 minute, and I get the same error every time. The only thing that changes is the authoritative name

[2016-07-06 00:24] steadicat commented on #241
Ok I figured out what might be triggering these issues. I had a CNAME wildcard record pointing  to ghs.googlehosted.com. This might explain why Lego was using ns*.google.com as the domain server to check. Seems like there's a bug in there somewhere. Why not use the SOA or NS record of the naked domain?

[2016-07-06 17:26] md2k opened #242 "Support SAN Certificates while DNS provider can be different per domain(s) groups"
Hi @xenolf,  i faced with problem when i have several domains located across 2 DNS providers Route53/CloudFlare , but i have requirements to create SAN certificate which include mix of those domains.
So formally need some solution which provide possibility to solve challenge using different DNS providers  per domain(s).
Live case example:
* domainA.com  located on CloudFlare Account 1
* domainB.co

[2016-07-06 17:36] md2k commented on #221
Hi @xenolf, maybe you should use as a hint how guy implements this part in [acmetool](https://github.com/hlandau/acme) , since he seems reuse `authz`.

P.S. Pardon for linking competitor product, i know this is not nice, but i also like Lego and only some luck of functionality stopping me from migration to it completely.

[2016-07-06 22:00] mholt commented on #242
Again, I can't speak for @xenolf but I feel this is out of the scope of lego. Its CLI is meant to be simple and mainly to test the underlying acme package.

FWIW, I am (independently of this project) working on a more powerful ACME CLI that will allow highly advanced configuration and even integrate with enterprise infrastructure... but that won't be ready for a while.

[2016-07-08 02:59] peterwald commented on #226
You don't necessarily need node metadata. It also works if gcloud is installed and authenticated.

[2016-07-08 11:41] md2k commented on #242
If this is out of scope, not see any problem with it, since it was only proposal for possible feature for use-case.
@mholt your tool will be free ? :)

[2016-07-08 13:45] mholt commented on #242
Not sure yet about free or not.

The suggestion/discussion is of course fine, but it's up to xenolf if he wants the tool to grow to that level of complexity or not.

[2016-07-10 02:47] xenolf commented on #242
Heya!
As @mholt said, this use case is out of scope for the CLI. I can however see at least having support for multiple providers for one certificate to be a good thing. At the moment we can't satisfy this use case at all , not even with your own provider really.

[2016-07-10 02:51] xenolf commented on #241
Hey @steadicat !
We are not using the SOA or NS records as boulder doesn't do that as well. We are trying to emulate a recursive lookup to check propagation as boulder would see it as well.
I will have a word with the manual dns solver though, this output really is confusing.

[2016-07-11 18:43] md2k commented on #242
Isee, not proble, but actually you maybe want to see to provide possibility to write close integrations with tool (modules) which able then implements different scenarios using providers available within tool. (some where in future)
Any way, lets then close this ticket as it wont go further.

[2016-07-13 21:16] jmhodges opened #246 "http-timeout is not set correctly"
The `--http-timeout` flag is not actually used in acme.DefaultClient. When that object is made at package initialization time, the `acme.HTTPTimeout` is set to 10 seconds. The update to `acme.HTTPTimeout` is done some time after package initialization during the flag parsing steps but no new client is used.

I ran into this while trying to help the Let's Encrypt folks debug some timeouts I was see

[2016-07-19 10:01] nhooyr opened #247 "no need for repeated OCSP verification"
no need for: https://github.com/xenolf/lego/blob/master/acme/crypto.go#L118-L123

`ocsp.ParseResponse` already does it here: https://github.com/golang/crypto/blob/master/ocsp/ocsp.go#L457-L461

[2016-07-20 12:42] werbitzky opened #248 "Route53 + CNAME wildcard record leads to wrong Hosted Zone being chosen"
I use rancher-letsencrypt (https://github.com/janeczku/rancher-letsencrypt) of which lego is an upstream library.

Lego seems to elect the wrong Hosted Zone from Route53 in the following scenario:

Two **Hosted Zones**:

* a.foo.com
* b.foo.com

b.foo.com has a wildcard CNAME record:

_*.b.foo.com_ points to _lb.a.foo.com_

I try to get certificates for _svc.b.foo.com_. Now Lego apparently tries t

[2016-07-20 15:03] kelseyhightower opened #249 "The http default client should be configurable"
I'm currently using lego as a library in a service that is running in an execution environment that does not ship with a default ca-certificate bundle. This causes the following errors and prevents me from using the default http client used in the acme package:

[code]

I'm using https://github.com/certifi/gocertifi to supply a ca-certificate bundle, but I need the ability to use my own http.Clien

[2016-07-20 18:50] bshi opened #250 "Fresh "go get" broken"
Possibly due to breaking changes in `github.com/miekg/dns`

    $ go get github.com/xenolf/lego
    # github.com/xenolf/lego/acme
    go/src/github.com/xenolf/lego/acme/dns_challenge.go:167: unknown dns.Client field 'Timeout' in struct literal
    go/src/github.com/xenolf/lego/acme/dns_challenge.go:171: unknown dns.Client field 'Timeout' in struct literal

Is there a listing of the recommended ver

[2016-07-21 01:16] xenolf commented on #250
Hello and thanks for reporting!
I just tried a `go get -u` and it worked fine.
I can also see the mentioned `Timeout` property in the current `github.com/miekg/dns` master: https://github.com/miekg/dns/blob/master/client.go#L32

Are you sure your local version of `github.com/miekg/dns` is up-to-date?

[2016-07-21 01:24] #246 closed

[2016-07-21 01:28] xenolf commented on #246
I chose to remove the `acme.HTTPTimeout` variable completely and replace it with the exported HTTPClient. Should work as advertised now :)

[2016-07-21 01:31] xenolf commented on #249
I renamed the `acme.defaultClient` to `acme.HTTPClient` and thus exported it to fix #246. Should be fine now for your use case. :)

[2016-07-21 01:33] #247 closed

[2016-07-21 01:33] xenolf commented on #247
Thanks for catching this. The unneeded check has been removed.

[2016-07-21 01:35] xenolf commented on #248
Thanks for submitting this issue. We had a few issues with `acme.FindZoneByFqdn()` in the last month. I'll have a look at how I can improve it.

[2016-07-21 01:36] xenolf commented on #212
Closing this as there haven't been any updates.

[2016-07-21 01:36] #212 closed

[2016-07-21 01:37] #64 closed

[2016-07-21 01:37] #117 closed

[2016-07-21 01:37] #145 closed

[2016-07-21 02:15] bshi commented on #250
On second inspection, I think this is pilot error.  My `GOPATH` seems to have been put in a bad state by the prior use of godep (https://github.com/tools/godep/issues/60)  Sorry for the noise.  Please feel free to close this out.

    go get -u github.com/xenolf/lego
    # cd /home/bs/go/src/golang.org/x/crypto; git pull --ff-only
    You are not currently on a branch. Please specify which
    bra

[2016-07-22 03:22] gaillard commented on #250
I got the same thing?

[2016-07-26 12:05] xenolf commented on #250
@gaillard have you checked if it is the same problem as bshi experienced?

[2016-07-26 12:05] #249 closed

[2016-07-26 12:05] #242 closed

[2016-07-27 14:30] simonvc opened #252 "Can't complete route53 challenge when requesting 7 SANs"
I'm able to request 4-5 SANs reliably before it starts failing. I'm not able to complete this 7 SAN request.

I've tried adding a time.Duration(15000) delay to the route53 provider but it still fails.

Any tips?

`2016/07/27 14:18:23 [INFO][bizops-queue.tools.production.domain.com, cross-storage.tools.production.domain.com, bizops.tools.production.domain.com, supportal.tools.production.domain.com,

[2016-07-27 15:05] simonvc commented on #252
I installed and ran the binary from #190

`2016/07/27 14:58:51 [INFO][cross-storage.tools.production.domain.com, bizops.tools.production.domain.com, supportal.tools.production.domain.com, bizops.tools.production.domain.com] acme: Obtaining bundled SAN certificate
2016/07/27 14:58:51 [DEBUG] Attempting to post {"resource":"new-authz","identifier":{"type":"dns","value":"bizops.tools.production.domai

[2016-07-27 15:35] simonvc commented on #252
Problem was between keyboard and chair. :-(

Lego should warn you about duplicate SAN names.

[2016-07-27 15:35] #252 closed

[2016-07-27 23:27] gaillard commented on #250
I don't use godep

[2016-07-28 10:23] lenovouser commented on #241
@xenolf I am getting this on the latest binary release **and** also when I compile it myself from the master branch too. I am using CloudFlare as my DNS provider + **not** using a `CNAME` entry for any of my domains that I am requesting certificates for.

[2016-07-28 10:36] lenovouser commented on #173
Any progress?

[2016-07-28 10:36] phenomax commented on #241
@lenovouser cannot reproduce

[2016-07-28 19:50] janeczku commented on #241
@lenovouser Can you open a separate ticket for the CloudFlare provider and paste the error output and any other observations.

[2016-07-29 03:21] bshi commented on #250
@gaillard your call to `go get -u github.com/xenolf/lego` succeeds?

[2016-07-29 14:58] JorritSalverda opened #253 "Too many currently pending authorizations after lots of failed dns challenges"
Early this week the cloudflare propagation times were sky-high, and even with --dns-timeout 600 the requests were failing - although already after 2 minutes??.

However now that cloudflare is fine again we run into the following error from letsencrypts side:

`acme: Error 429 - urn:acme:error:rateLimited - Error creating new authz :: Too many currently pending authorizations`

This happened before

[2016-07-29 16:48] janeczku commented on #248
So the problem is that the recursive name server is returning the SOA for the zone to which the CNAME is pointing to in the authority section of the reply.
See: `dig SOA mail.google.com`

In order to determine the zone correctly for CNAME'd domains we need to recurse up the labels of the domain name until we get the SOA record in the answer section.

[2016-07-29 19:38] janeczku commented on #253
@xenolf i think the `--dns-timeout` should override the timeout for the propagation check. Currently this governs the DNS client's timeout for a single UDP query to a name server. This is not obvious to the user (see OP) and i don't quite see the need for this timeout to be configurable in the first place. Thoughts?

[2016-08-01 09:35] werbitzky commented on #248
thanks a lot @janeczku! this one looks good for a fix

[2016-08-03 01:32] jasonwbarnett commented on #218
I'm going to pick this up in the next couple of days and own it to completion. This seems like it's either easily doable or not. Either way, I'll figure it out.

[2016-08-03 01:35] jasonwbarnett commented on #173
Would love to collaborate to get this done. I looked over the code tonight and identified where the modification should go, but haven't had time to brainstorm the best design, e.g. worker pool, go routines, etc...

[2016-08-03 10:29] marl-scot opened #255 "Issue trying to get gcloud / google dns working with Lego"
Hi,
I am trying to test Lego with Google DNS via the gcloud DNS provider.  My issue is, i can not work out what vars need set to get Lego to authnticate to my Google account :(

I have the gcloud CLI utility installed, and have authenticated to my google account.  but i dont know what i need to set for Lego to authticate, anyone able to give me some pointers and examples?

thanks

matt
P.S. this i

[2016-08-04 00:40] jasonwbarnett commented on #173
I leveraged #237 as a starting point and was able to make things more efficient. I was able to obtain a SSL certificate with 86 SANs in 6 minutes and 24 seconds.

I was using the following:

Challenge Type: DNS-01
DNS Provider: Google DNS
TXT Record TTL: 10 seconds
zone negative cache TTL: 10 seconds

Thi

[2016-08-04 00:57] xenolf commented on #255
Hey there!
The DNS provider for google cloud DNS uses the credentials provided by the CLI utility so you are fine on that part. What lego needs is only an ENV variable `GCE_PROJECT` set to your project.

[2016-08-04 01:02] #250 closed

[2016-08-04 01:09] xenolf commented on #253
@janeczku You are right. Users do expect the `--dns-timeout` switch to govern the propagation check timeout. The issue here is that we allow DNS providers to set their own timeouts via the `ChallengeProviderTimeout` interface so it's not as straight forward to override it in one spot.

[2016-08-04 01:09] xenolf commented on #248
Closing this with ref to the merged PR #254

[2016-08-04 01:09] #248 closed

[2016-08-04 01:15] xenolf commented on #173
Hey @jasonwbarnett and thanks for your time!
I had a quick look at your implementation. Please keep in mind that many of the DNS providers currently shipped with lego do have state per instance of the provider (for caching the domain name for example). Your implementation only calls the `solve()` function in parallel which will overwrite this state.

[2016-08-04 01:31] jasonwbarnett commented on #173
@xenolf Where did you get with your implementation? Do you have it published anywhere?

Wondering if it makes sense to implement the concurrency in the provider itself or what... Or if it's just a matter of refactoring the providers which currently have a shared state.

[2016-08-05 12:06] xenolf commented on #173
@jasonwbarnett My approach was to create one instance of the provider for each call to `solve()`. The code isn't published anywhere but I can push it into a branch once I get home.

[2016-08-06 00:54] jasonwbarnett commented on #173
@xenolf Please post what you have to a branch so I can see.

[2016-08-06 04:01] doublerr opened #257 "Proposal: Add --zone flag for DNS challenge"
I ran into an issue trying to a cert with multiple SANs on Google using lego. The issue is when trying to get a cert for a subdomain(i.e. `foo.example.com`) when my hosted zone is `example.com`. This doesn't work (as least for Google DNS provider) due to the assumption that the `domain` being passed is also the `zone` being hosted: https://github.com/xenolf/lego/blob/master/providers/dns/googleclo

[2016-08-09 14:56] mischapeters opened #258 "Agreement URL needs to be updated"
The Let's Encrypt Agreement URL needs to be updated as there is a new one.

[code]

See: https://github.com/lukas2511/letsencrypt.sh/commit/afabfff06e2dece1772ed788ac41ca0d297ab49b

[2016-08-09 15:35] mholt commented on #258
Better yet, use `https://acme-v01.api.letsencrypt.org/terms` which always points to the latest version of the SA (at least, for version 1 of the API).

[2016-08-09 15:40] mischapeters commented on #258
Works for me. :)

[2016-08-09 22:24] cristiangraz opened #259 "DNS Challenge Verification and Integration Tests"
I'm using Lego with a custom DNS `acme.ChallengeProvider` and writing integration tests for our SSL integration. When using the DNS Challenge, Lego checks `acme.RecursiveNameServers` for the TXT records before notifying Boulder that the challenge is ready.

While this is a nice feature, it poses challenges with integration tests. Boulder has a test DNS server that lets you `POST` TXT records to th

[2016-08-10 01:38] xenolf commented on #257
Hello there!
This seems to be a limitation of the Google DNS provider. The Route53 provider for example, does a lookup on the list of hosted zones to find it. Maybe this is also possible for Google DNS?

[2016-08-10 01:41] xenolf commented on #258
I'm not entirely sure what we should update? The ToS URL isn't hardcoded anywhere but is received from the server during registration.

[2016-08-10 01:46] xenolf commented on #259
One thing that comes to mind is for lego to export the `preCheckDNS` variable. By doing this you could supply your own pre-check function and do whatever you need to do. We are using this in a test in order to get around the DNS check :)

[2016-08-10 03:38] cristiangraz commented on #259
Ahh I saw that earlier but the idea of exporting hadn't occurred to me. That would work great, I'll start on a PR shortly!

[2016-08-10 04:45] mholt commented on #258
Oh yeah. Weird... where are you seeing this @mischapeters ?

[2016-08-10 11:43] mischapeters commented on #258
I just ran a search on the agreement string I found some issues so just wanted to make sure.
If it's not hardcoded that is even better! :)

[2016-08-10 11:43] #258 closed

[2016-08-11 18:10] doublerr commented on #257
@xenolf the route53 provider does something similar when looking up zones. The difference is that it uses acme.FindZoneByFqdn, https://github.com/xenolf/lego/blob/master/providers/dns/route53/route53.go#L128, to solve this problem. That should be an easy fix if it works like I expect.

[2016-08-12 17:03] xenolf commented on #259
Closed via #260
@cristiangraz Thanks for implementing this! :)

[2016-08-12 17:03] #259 closed

[2016-08-12 17:05] #257 closed

[2016-08-12 17:06] xenolf commented on #255
I assume you solved your problem?
Feel free to re-open if that's not the case.

[2016-08-12 17:06] #255 closed

[2016-08-14 06:21] voltagex opened #263 ""Progress" messages for DNS record propagation checks"
I'm assuming this check can take 10-20 minutes, especially with multiple domains, but the last message I got was 12 minutes ago.

I understand it'd be pretty difficult to implement any kind of progress bar due to the way the propagation and test works, but maybe a log message when the record is checked again/retried? As it currently stands, I have no idea what the application is doing.

`2016/08/1

[2016-08-15 00:54] onlyjob opened #264 "dnssimple-go: needless fork?"
Apparently _lego_ uses [github.com/weppos/dnsimple-go](https://github.com/weppos/dnsimple-go) which is an outdated fork of [github.com/dnsimple/dnsimple-go](https://github.com/dnsimple/dnsimple-go). The latter is better maintained and have issues tracker enabled.

Please consider switching to `github.com/dnsimple/dnsimple-go`.

Thanks.

[2016-08-15 06:40] porjo opened #265 "PowerDNS provider"
It'd be great to see support for PowerDNS authoritative nameserver. There are various 3rd party API frontends available for it, however I had thought to make the provider talk to PowerDNS's own RESTful API directly.

I've had a play around with it and it looks feasible. Would anyone have any objections/concerns with me working on a pull request?

[2016-08-16 00:29] lenovouser commented on #264
Pinging @weppos since he seems to be the maintainer.

[2016-08-16 00:56] onlyjob opened #266 "please provide man page"
It would be great to introduce a man page for `lego` binary.
Thanks.

[2016-08-16 04:19] mholt commented on #266
Maybe once lego is 1.0 stable?

[2016-08-16 07:43] weppos commented on #264
@onlyjob @lenovouser I am the maintainer of the dnsimple-go library and I work for DNSimple. I originally started the client under my account, and moved it under the DNSimple umbrella when it was ready.

However, the one under the DNSimple account only supports API v2. I had on my todo list to upgrade lego with the new client, but it will require switching to API v2.

I will provide a patch ASAP.

[2016-08-16 19:05] mholt opened #267 "Fix issue when Boulder recycles authz"
From Jacob at https://github.com/letsencrypt/boulder/issues/2125:

[2016-08-17 18:15] #267 closed

[2016-08-17 21:34] marumari opened #270 "Add flag/support for OCSP Must Staple x.509 extension"
Let's Encrypt supports the x.509 must staple extension, which tells user agents that they must receive an OCSP stapling to connect.  Let's Encrypt's "certbot" supports it with the -must-staple option; it would be great to have it in lego as well.

Thanks!

[2016-08-17 22:05] xenolf commented on #263
Hey there! You mean like to print a message on every iteration of the validation loop?

[2016-08-17 22:10] xenolf commented on #265
Hey!
No objections as long as we can ping you when issues arise :)

[2016-08-17 23:25] porjo commented on #265
I've made an initial commit [here](https://github.com/porjo/lego/commit/e9ca62c56809d3d6fbac27f3db6edcc518bb625c). That's tested with v3.x of the PowerDNS server but not v4.x. I'll try and do that soon.

[2016-08-18 13:14] PSG-Luna commented on #226
You can also provide the GOOGLE_APPLICATION_CREDENTIALS env var and have it point to a json credentials file. That's probably what you want ?

[2016-08-18 13:47] kop commented on #226
@PSG-Luna, yes this solves the problem.

[2016-08-19 02:43] porjo commented on #219
I'm currently finding it frustrating to test new code when Lego insists on doing 'real' lookups. I'd like to send these queries to my local recursor so I can fake the response. Have this customizable would be great. I'm also not a fan of giving Google free data :wink:

[2016-08-22 19:08] jipperinbham commented on #241
fwiw, cloudflare considers a 5 minute propagation to be "within reason" so it may be a good idea to adjust the timeout in the CloudFlare provider accordingly.

[2016-08-22 19:09] jipperinbham opened #275 "CloudFlare findTxtRecord inefficient"
given the current query
[code]
it's possible to not have a TXT record returned if the total number of records for a zone have more than 1000.

[2016-08-23 06:13] porjo commented on #275
pinging @janeczku as the author of that provider. I'd make the change, however I'm not able to test as I don't use Cloudflare. From the [API doco](https://api.cloudflare.com/#dns-records-for-a-zone-list-dns-records) looks like it should be as simple as including something like `&type=TXT&name=<acme challenge name>` in the query string

[2016-08-23 06:46] #219 closed

[2016-08-23 06:51] xenolf commented on #270
I agree that an OCSP must staple option would be great to have. I might get some free time on my hands this week and will look into it.

[2016-08-23 06:53] xenolf commented on #226
I'll go ahead and close this then. :)

[2016-08-23 06:53] #226 closed

[2016-08-23 09:31] streaps opened #277 "register without email"
Can lego register an account without an email address?

It is possible with other tools (letsencrypt.sh) and I don't have any need to share my email address with letsencrypt. see https://community.letsencrypt.org/t/email-address-disclosures-june-11-2016/17025

[2016-08-23 13:47] janeczku commented on #275
Happy to do the testing if you submit a PR @porjo! There is another issue that could be fixed in the process: We should compare the content of the TXT record against the challenge token, so that when there are multiple records for the FQDN, we only clean up ours.
https://github.com/xenolf/lego/blob/master/providers/dns/cloudflare/cloudflare.go#L148

[2016-08-23 13:53] xenolf commented on #275
#276 fixes this issue, doesn't it?

[2016-08-23 14:03] janeczku commented on #275
@xenolf Indeed!

[2016-08-23 14:59] mholt commented on #277
The underlying acme package can, but the command doesn't currently allow that.

[2016-08-23 22:16] xenolf commented on #275
Fixed via #276

[2016-08-23 22:16] #275 closed

[2016-08-23 22:45] #265 closed

[2016-08-24 12:29] PSG-Luna commented on #218
Is this still being worked on ?

[2016-08-26 11:30] mischapeters opened #279 "unknown http.Transport field 'TLSNextProto'"
When I want to upgrade of lego from 0.3.0 to 0.3.1 or do a clean install with:
go get -u github.com/xenolf/lego

I get the following error message:
[code]

This is on OpenBSD 5.9.
Is there anything that I need to add?

[2016-08-26 15:13] mholt commented on #279
You need Go 1.6 or higher now. Time to upgrade! :+1:

[2016-08-26 15:13] #279 closed

[2016-08-26 15:14] mischapeters commented on #279
Thanx!

[2016-08-31 16:06] zelenin commented on #263
it seems like dns check is very unstable (maybe just cloudflare) and dns propagation freezes. Sometimes works, sometimes freezes.

[2016-09-01 21:29] paulehoffman opened #281 "Can I get one long TXT record with multiple --domain arguements for DNS auth?"
Greetings. `lego --email="me@example.com" --dns=manual --domains="example.com" --domains="www.example.com" --domains="blarg.example.com" run` first tells me to past the record in for example.com, then later for www.example.com, then later for blarg.example.com. For those of us who have 6+ subdomains we want in the SAN, is it possible for lego to say "paste all these lines into your zone file" inst

[2016-09-06 06:40] oliverjanik opened #283 "Is there a way to append domains to a cert during renewal?"
Here's my simple use case:

- A subdomain DNS records  are created on the fly
- I need to get a cert for the new subdomain
- because there are rate limits on cert requests / domain I'm using certs where I batch several subdomains together

The problem is I still end up with a lot of separate certs for different batches of sudomains.

Is there a way to renew a cert and append new domains to it?

I

[2016-09-08 18:35] jonathan-jaekel opened #284 "Docker build fails in vultr lib"
Unable to build the docker image:

[code]

[2016-09-08 20:17] jonathan-jaekel commented on #284
Seems to be same as #279.

[2016-09-09 00:04] mholt commented on #284
Yup -- upgrade your Go version. :wink:

[2016-09-09 00:04] #284 closed

[2016-09-09 10:05] jliu70 commented on #284
@jonathan-jaekel I used alpine:3.4 and it builds.

[2016-09-09 12:52] xenolf commented on #284
I updated the dockerfile to use apline 3.4

[2016-09-09 22:06] lenovouser commented on #173
Any progress?

[2016-09-09 23:03] jasonwbarnett commented on #173
I did it for google on my fork here and it works perfectly, https://github.com/jasonwbarnett/lego/tree/feature/concurrent-solvers

[2016-09-10 17:11] jonathan-jaekel commented on #284
BTW: The [automated build on docker hub](https://hub.docker.com/r/xenolf/lego/builds/) is five months old. Why?

[2016-09-10 17:17] jonathan-jaekel opened #285 "Version not up to date"
Current release is [v0.3.1](https://github.com/xenolf/lego/releases/tag/v0.3.1). [README](https://github.com/xenolf/lego) and `lego --version` claim v0.3.0.

As far as I know the version must be fixed in:
* `cli.go`
* `README.md`

[2016-09-12 07:36] xenolf commented on #284
@jonathan-jaekel I guess it only builds releases and the last release was a few months ago.